<div class="registration blank" ng-show="!$ctrl.saved">
    <h3 class="heading-16" >Settings</h3>

    <input class="tmargin-10" type="text" placeholder="Name" ng-model="$ctrl.name" ng-blur="$ctrl.verifyName()">
    <label class="warning" ng-show="!$ctrl.isLegalName">Require 6 letters at least</label>
    <input class="tmargin-10" type="password" placeholder="Password" ng-model="$ctrl.password" ng-blur="$ctrl.verifyPassword()">
    <label class="warning" ng-show="!$ctrl.isLegalPassword" >Require 8 letters or numbers at least</label>
    <input class="tmargin-10" type="password" placeholder="Password Confirmation" ng-model="$ctrl.passwordConfirmation" ng-blur="$ctrl.verifyConfirmPassword()">
    <label class="warning" ng-show="!$ctrl.isConfirmed">Password is not consistent</label>
    <button class="tmargin-10 ispure"  ng-click="$ctrl.saveUser()">Submit</button>
</div>
<div class="success" ng-show="$ctrl.saved">Please contact with Qinglin by wechat: xiaoviba to activate your account</div>
