
<div class="swiper-container">

    <div class="header-cnt">

        <div class="header-inner">
            <div class='logobox'>
                <img class="logo" src="./images/logoname.jpg"/>
            </div>
            <div class='cogbox'>
                <a href="#settings" class="icon icon-cog"></a>
                <a href=""  class="icon icon-signout"></a>
            </div>

            <div class="swiper-pagination"></div>


            <div class="banner">

            </div>
        </div>

 </div>
    <div class="swiper-wrapper">
        <% if((!user.access) || (user.access && user.access.receivedOrders)){ %>
            <section class="swiper-slide" id="receivedOrders" data-bind='template: {afterRender: afterRender }' >
                <div class="searchbox">
                    <button type="button" text="Add" class="fl icon icon-add" data-bind="tap:$root.addOrder"> 新建 </button>
                    <button type="button" text="Add" class="lmargin-5 fl icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitOrders"> 保存</button>
                    <div class="lmargin-220">
                        <input type="text" class="w-p100 input-search" id="search-receivedOrders" data-bind="event: {input: $root.searchOrders}" placeholder="搜索客户订单" />
                    </div>
                </div>

                <div id='receivedOrdersBody' class="tmargin-40" data-bind="foreach: {data:orders, afterRender: afterOrderRender}">
                    <section class="order order--received enterArea">
                        <div class="order-client bg-grey">
                            <input type="hidden" data-bind="value: _id" />
                            <div class="order-clientbox">
                                <input type="text" class="client oneline oneline livesearch livesearch--client" data-bind="value: client,event:{focus:bindLiveSearch}" placeholder="客户" />
                            </div>
                            <div class="taCenter">
                                <span data-bind="text: displayDate"></span>
                            </div>
                        </div>
                        <div class="order-items">
                            <div class="order-actionbox">
                                <a href="#" class="icon icon-add" data-bind="tap:addItem"> </a>
                                <a href="#" class="icon icon-leaf action-submit action-mark" data-bind="tap: $root.markPackingStatus, css: orderPackingStatus"> </a>
                                <a href="#" class="icon action-submit action-mark" data-bind="tap: $root.markPackingStatus, css: orderReadyStatus"> </a>
                                <a href="#" class="icon icon-remove-sign action-submit action-delete" data-bind="tap: $root.removeOrder"></a>
                            </div>
                            <!-- ko foreach: items -->
                            <div class="item item--received">
                                <span class="item-product">

                                    <input  type="text" class="oneline livesearch livesearch--product" data-bind="value: name,event:{focus:bindLiveSearch}" placeholder="产品" />

                                </span>
                                <span class="item-quantity">
                                    <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="数量" />
                                </span>
                                <span class="item-note">
                                    <input  type="text" data-bind="value: note" placeholder="备注:" />
                                </span>
                                <span class="bg-grey item-actions">
                                     <a href="#" class="icon icon-remove  action-submit" data-bind="tap: $parent.removeItem"></a>
                                </span>
                            </div>
                            <!-- /ko -->
                        </div>
                    </section>
                </div>

            </section>
        <% } %>
        <% if((!user.access) || (user.access && user.access.purchaseItems)){ %>
            <section class="swiper-slide" id="purchaseItems">
                <div class="tagbox">
                    <span class="tagbox-label">标签：</span>
                    <div class="tagbox-tags">
                        <a href="#" class="link-tag all isActive" data-bind="tap: $root.filterItems">所有</a>
                        <!-- ko foreach: tags -->
                        <a href="#" class="link-tag" data-bind="text: $data, tap: $root.filterItems"></a>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="orderitems" data-bind='template: {afterRender: afterRender }'>
                    <div class="orderitems-header">
                        <span class="w-p30 taCenter"><a class="icon icon-refresh"  data-bind="tap:function(){$root.refreshItems('')}"></a>标签</span>
                        <span class="w-p30 taLeft">产品</span>
                        <span class="w-p10 taRight rpadding-5">数量</span>
                        <span class="w-p20 taRight  rpadding-5"><a class="icon icon-refresh" data-bind="tap: function(){$root.refreshItems('status')}"></a>标记</span>
                        <span class="w-p10 taRight rpadding-5">差</span>
                    </div>
                    <div data-bind="foreach: {data: items}">
                        <div class="orderitem">
                            <div class="orderitem-cnt">
                                <span class="taLeft w-p30">
                                    <input  type="text" data-bind="value: tag" class="hidden-tag" />
                                    <input  type="hidden" data-bind="value: _id" class="hidden-item" />
                                </span>
                                <span class="taLeft w-p30 oneline" data-bind="text: _id"></span>
                                <span class="taRight w-p10 rpadding-5" data-bind="text: quantity"></span>
                                <span class="w-p20 orderitem-cnt-btns">
                                    <a href="#" class="icon  action-load" data-bind="tap: getSubItems, css: getExpandCollapse()"></a>
                                    <a href="#" class="icon icon-flag action-submit" data-bind="tap: markDone, css: markItemStatus()"></a>
                                </span>
                                <span class="taRight w-p10" data-bind="text: restCount"></span>
                            </div>
                            <div class="orderitem-subItems">
                                <!-- ko if: subItems().length>0 -->
                                <div class="subItems">
                                    <div class="subItems-header">
                                        <span class="w-p30 taCenter">客户</span>
                                        <span class="w-p30 taLeft">备注</span>
                                        <span class="w-p10 taRight rpadding-5">数量</span>
                                        <span class="w-p20 taRight rpadding-5">标记</span>
                                        <span class="w-p10 taRight rpadding-5"></span>
                                    </div>
                                    <div class="subItems-cnt" data-bind="template:{ name: 'subItem', foreach: subItems }">
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: subItems().length==0 -->
                                <p class="taCenter">暂时没有获取到产品的客户列表。</p>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/html" id="subItem">
                    <section class="subItems-item">
                        <input type="hidden" data-bind="value: _id" />
                        <span class="w-p30 oneline taCenter" data-bind="text: client"> </span>
                        <span class="w-p30 taLeft" data-bind="text: note"> </span>
                        <span class="w-p10 taRight" data-bind="text: quantity"> </span>
                        <span class="taRight w-p20">
                            <a href="#" class="icon icon-flag action-submit" data-bind="tap: function(data, parent,event){$parent.markSubItemDone(data,parent,event,arguments[3],arguments[4],$root);}, css: {'font-green': isDone}"></a>
                        </span>
                        <span class="w-p10 taRight rpadding-5"></span>
                    </section>
                </script>
            </section>
        <% } %>
        <% if ((!user.access) || (user.access && user.access.reckoningOrders)){ %>
            <section class="swiper-slide" id="reckoningOrders" data-bind='template: {afterRender: afterRender }'>
                <div class="searchbox searchbox--reckoning">
                    <div class='searchbox-btns'>
                        <button type="button" text="Add" class="icon icon-add" data-bind="tap:$root.addOrder"> 新建 </button>
                        <button type="button" text="Add" class="icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitOrders"> 保存 </button>
                        <a href="#" class="icon icon-eye" data-bind="tap: $root.toggleClientView"></a>
                    </div>
                    <div class="searchbox-input">
                        <input type="text" class="w-p100 input-search" id="search-reckoningOrders" data-bind="event: {input: $root.searchOrders}" placeholder="搜索客户订单" />

                        <a href="" class="icon icon-question"></a>


                    </div>
                </div>
                <div id='reckoningOrdersBody' class="tmargin-40 orders orders--reckoning" data-bind="foreach: {data: orders,afterRender: afterOrderRender}">
                    <section class="order order--reckoning enterArea">
                        <div class="order-client bg-grey">
                            <input type="hidden" data-bind="value: _id" />
                            <input type="hidden" data-bind="value: rate" />
                            <div class="order-clientbox">
                                <input type="text" class="client oneline livesearch livesearch--client" data-bind="value: client,event:{focus:bindLiveSearch}" placeholder="客户" />
                            </div>
                            <div class="taCenter">
                                <span data-bind="text: displayDate"></span>
                            </div>
                        </div>
                        <div class="order-items">
                            <div class="order-actionbox">
                                <a href="#" class="icon icon-add" data-bind="tap:addItem"> </a>
                                <a href="#" class="icon icon-flag rmargin-20 action-submit action-mark" data-bind="tap:$parent.markDone, css: orderStatus"> </a>
                                <a href="#" class="icon icon-remove-sign  action-submit action-delete" data-bind="tap: $parent.removeOrder"></a>
                            </div>
                            <!-- ko if: _id() != '' -->
                            <div class="order-totalbox bg-grey">
                                <span class="font-bold  item item--reckoningtotal vaTop onlyForMe" data-bind="css:{'font-red': isComplete}">
                                    <span class="item-sum">总共：</span>
                                    <span class="item-fee bg-white"><input type="text" class="w-30 font-bold postage" placeholder='Fee' data-bind="value: postage,css:{'font-red': isComplete}" /></span>
                                    <span class="item-buy" data-bind="text: formatPrice(buyPrice)"></span>
                                    <span class="item-sell" data-bind="text: formatPrice(sellPrice)"></span>
                                    <span class="item-profit" data-bind="text: formatPrice(profit)"></span>
                                    <span class="item-space"></span>
                                </span>
                                <span class="font-bold vaTop onlyForClient bg-grey" data-bind="css:{'font-red': isComplete}">
                                    <span class="lmargin-5">总共： &nbsp;</span>
                                    <span data-bind="text: formatPrice(sellPrice)"></span>
                                    <span>&nbsp;+ &nbsp;</span>
                                    <span class="w-p15 postagebox"><input type="text" class="w-30 font-bold postage"  data-bind="value: postage,css:{'font-red': isComplete}" /></span>
                                    <span>&nbsp;=&nbsp;</span>
                                    <span data-bind="text: total"></span>
                                </span>
                            </div>
                            <!-- /ko -->
                            <div class="items" data-bind="foreach: items">
                                <fieldset class="itembox--reckoning">
                                    <div class="item item--reckoning">
                                        <span class="item-name">
                                            <input  type="text" class="oneline livesearch livesearch--product" data-bind="value: name,event:{focus:bindLiveSearch}" placeholder="产品" />
                                        </span>
                                        <span class="item-quantity">
                                            <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="数量" />
                                        </span>
                                        <span class="item-buy onlyForMe">
                                            <input  type="text" data-bind="value: buyPrice, css:{'font-green': isDoubtBuyPrice()}" placeholder="买" />
                                        </span>
                                        <span class="item-sell">
                                            <input  type="text" data-bind="value: sellPrice, css:{'font-green': isDoubtSellPrice()}" placeholder="卖" />
                                        </span>
                                        <span class="item-profit onlyForMe">
                                            <input class='bg-grey' type="text" readonly data-bind="value: profit" placeholder="收益" />
                                        </span>
                                        <span class="item-actions bg-grey">
                                            <a href="#" class="icon icon-search  action-load" data-bind="tap: $parent.getHistoricTrades"></a>
                                            <a href="#" class="icon icon-remove action-submit" data-bind="tap: $parent.removeItem"></a>
                                        </span>
                                    </div>
                                    <div class="historicbox">
                                        <!-- ko if: historicTrades().length>0 -->
                                        <div class="historic">
                                            <div class="item item--historicheader">
                                                <span class="item-client">客户</span>
                                                <span class="item-quantity">数量</span>
                                                <span class="item-buy">买</span>
                                                <span class="item-sell">卖</span>
                                                <span class="item-date">日期</span>
                                                 <span class="item-space"></span>
                                            </div>
                                            <div class="historic-items" data-bind="template:{ name: 'historicTrades' , foreach: historicTrades }">
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: historicTrades().length==0 -->
                                        <p class="taCenter">没有找到历史交易。</p>
                                        <!-- /ko -->
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </section>
                </div>
                <script type="text/html" id="historicTrades">
                    <section class="historic-item item item--historic">
                        <input type="hidden" data-bind="text: name"></input>
                        <span class="oneline item-client" data-bind="text: client"></span>
                        <span class="taLeft item-quantity" data-bind="text: quantity"></span>
                        <span class="taLeft item-buy" data-bind="text: buyPrice"></span>
                        <span class="taLeft item-sell" data-bind="text: sellPrice"></span>
                        <span class="taLeft item-date" data-bind="text: createDate"></span>
                        <span class="taLeft item-space"></span>
                    </section>
                </script>
            </section>
        <% } %>


        <% if ((!user.access) || (user.access && user.access.products)){ %>
        <section id="products" class="swiper-slide">
            <div class="searchbox">
                <button type="button" text="Add" class="fl icon icon-add" data-bind="tap:addProduct"> 新建 </button>
                <button type="button" text="Add" class="lmargin-5 fl icon icon-save-all action-submit action-enter" data-bind="tap:submitProducts"> 保存</button>
                <div class="lmargin-220">
                    <input type="text" class="w-p100 input-search" id="search-products" data-bind="event: {input: searchProducts}" placeholder="搜索产品" />
                </div>
            </div>

            <!-- ko if: products().length>0 -->
            <div class="table table--products" data-bind='template: {afterRender: afterRender }'>
                <div class="table-header productInfo productInfo--header">
                    <span class="productInfo-name">产品</span>
                    <span class="productInfo-buy ">买</span>
                    <span class="productInfo-sell">卖</span>
                    <span class="productInfo-date">日期</span>
                    <span class="productInfo-actions"></span>
                </div>
                <div id="productsbody" class="table-body" data-bind="foreach: {data: products,afterRender: afterProductRender}">
                    <div class="table-row">
                        <div class="productInfo">
                            <span class="productInfo-name">
                                <input  type="hidden" data-bind="value: _id" />
                                <input  type="text" data-bind="value: name"  placeholder="产品" />
                            </span>
                                <span class="productInfo-buy">
                                <input  type="text" data-bind="value: buyPrice"  placeholder="买" />
                            </span>
                            <span class="productInfo-sell">
                                <input  type="text" data-bind="value: sellPrice"  placeholder="卖" />
                            </span>
                            <span class="productInfo-date" data-bind="text: displayDate"></span>
                            <span class="productInfo-actions">
                                <a class="icon action-load" data-bind="tap: getActiveClients, css: getExpandCollapse()" ></a>
                                <a class="icon icon-remove action-submit action-delete" data-bind="tap: $root.removeProduct" ></a>
                            </span>
                        </div>
                        <div class="clientInfo">
                            <div class="clientInfo-cnt">

                                <div class="client client--product client--header">

                                    <span class="client-name">客户</span>
                                    <span class="client-buy">
                                        买
                                    </span>
                                    <span class="client-sell">
                                        卖
                                    </span>
                                    <span class="client-note">备注</span>
                                    <span class="client-space"></span>
                                </div>

                                <!-- ko if: activeClients().length>0 -->
                                <div class="clientInfo-clients" data-bind="foreach: { data: activeClients }">
                                    <div class="client client--product">
                                        <input  type="hidden" data-bind="value: _id" />
                                        <span class="client-name oneline" data-bind="text: client"></span>
                                        <span class="client-buy">
                                            <input  type="text" data-bind="value: buyPrice"  placeholder="买" />
                                        </span>
                                        <span class="client-sell">
                                            <input  type="text" data-bind="value: sellPrice"  placeholder="卖" />
                                        </span>
                                        <span class="client-note oneline" data-bind="text: note"></span>
                                        <span class="client-space"></span>
                                    </div>
                                </div>

                                <div class="clientInfo-actions">
                                    <a  class="icon icon-save-all action-submit" data-bind="tap: updateClientPrice" ></a>
                                </div>
                                <!-- /ko -->



                                <!-- ko if: activeClients().length==0 -->
                                <p class="taCenter">暂时没有获取到产品的客户列表。</p>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /ko -->
        </section>
        <% } %>




        <% if ((!user.access) || (user.access && user.access.clients)){ %>
        <section id="clients" class="swiper-slide" data-bind='template: {afterRender: afterRender }'>


            <div class="searchbox searchbox--client">
                <div class="searchbox-btns">
                    <button class="icon icon-add" data-bind="tap: addClient"> 新建 </button>
                    <button type="button" class="lmargin-5 icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitClients"> 保存 </button>
                </div>
                <div class="searchbox-input">
                    <input type="text" class="w-p100 input-search" id="search-clients" data-bind="event: {input: $root.searchClients}" placeholder="搜索客户" />
                </div>
            </div>

            <section class="senders tmargin-40" data-bind="css: {isEmpty: senders().length==0}, foreach: {data: senders, afterRender: afterSenderRender}">
                        <div class="sender">

                            <a class="sender-copy icon icon-copy"></a>
                            <span class="sender-name" data-bind="text: name"></span>

                            <textarea class="sender-receives"  data-bind="text: receives"></textarea>

                        </div>

            </section>


        <!-- ko if: clients().length>0 -->

            <div class="allclients" data-bind="foreach: {data: clients, afterRender:afterClientRender}">
                <section class="client" data-bind="css: {'isActive': isActive()}">
                    <div class="client-name bg-grey">

                        <div class="inputbox-client">
                            <a class="sender-singleCopy icon icon-copy"></a>
                            <input type="hidden" data-bind="value: _id" />
                            <input type="text" class="w-p30" data-bind="value: name" placeholder="客户" />
                        </div>
                    </div>
                    <div class="client-infos">
                        <section class="client-actions">
                            <a href="#" class="icon icon-add" data-bind="tap:addAddress"> </a>



                            <span class="font-bold" data-bind="text: mailDisplayType(mailType)"> </span>

                            <a href="#" class="icon icon-remove-sign action-submit action-delete" data-bind="tap: $root.removeClient"> </a>
                        </section>
                        <!-- ko foreach: addresses -->
                        <div class="client-address address--client" data-bind="css: defaultAddressCss()">


                            <div class="address-cnt">
                                <span class="recipient"><input type="text" data-bind="value: recipient" placeholder="收件人" /></span>

                                <span class="recipient print"  data-bind="text: $parent.displayPrintName(recipient)"></span>


                                <span class="phone"><input type="text"  min="0" max="100" step="1" data-bind="value: phone" placeholder="电话" /></span>

                                <span class="addressDetail"><input type="text" class="client-inputclient" min="0" max="100" step="1" data-bind="value: address" placeholder="地址" /></span>
                            </div>

                            <span class="address-actions bg-grey">

                                <a href="#" class="icon action-submit" data-bind="tap: $parent.markDefault, css: defaultAddressMarkCss()"></a>
                                <a href="#" class="icon icon-remove  action-submit" data-bind="tap: $parent.removeAddress"> </a>

                            </span>


                        </div>
                        <!-- /ko -->
                    </div>
                </section>
            </div>

        <!-- /ko -->
        </section>
        <% } %>

        <% if ((!user.access) || (user.access && user.access.incomeList)){ %>
            <section class="swiper-slide" id="incomeList">
                <div class="incomelist isMobile tmargin-10" data-bind='template: {afterRender: afterRender }'>
                    <div class="incomelist-header">
                        <span class="w-p15 taLeft">年</span>
                        <span class="w-p10 taLeft">周</span>
                        <span class="w-p15 taLeft">周期</span>
                        <span class="w-p20 taRight rpadding-5">成本</span>
                        <span class="w-p20 taRight  rpadding-5">收入</span>
                        <span class="w-p20 taRight rpadding-5">收益</span>
                    </div>
                    <div  data-bind="foreach:{ data:incomeList}">
                        <!-- ko if: ($index() + 1) != ($root.incomeList().length) -->
                        <div class="orderitem">
                            <div class="orderitem-cnt">
                                <span class="taLeft w-p15" data-bind="text: year"></span>
                                <span class="taLeft w-p10" data-bind="text: week"></span>
                                <span class="taLeft w-p15">

                                        <i data-bind="text: firstDate"></i> -
                                        <i data-bind="text: lastDate"></i>

                                </span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(cost)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(revenue)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(income)"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: ($index() + 1) == $root.incomeList().length -->
                        <div class="orderitem">
                            <div class="orderitem-cnt total">
                                <span class="taRight w-p40  rpadding-5"><label class="vaMiddle">汇总？</label><a class="icon icon-eyeslash vaMiddle" data-bind="tap: $root.toggleTotalView"></a></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(cost)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(revenue)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(income)"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </section>
        <% } %>
    </div>
</div>


<div class="prompt">
    <span class="prompt-submitting"><i class="fa fa-spinner fa-pulse"></i> <span> 提交中...</span></span>
    <span class="prompt-succeed disappeared icon icon-peace"> 提交成功!</span>
</div>
<div class="confirm">
    <button type="button" class="ispure confirm-submit taCenter ">确认</button>
    <button type="button" class="ispure confirm-cancel taCenter lmargin-5">取消</button>
</div>
<div class="dNone">
    <div id="settings">
        <settings></settings>
    </div>

    <div id="manual-search" class="pop pop-search">


        <h2 class="heading-15">如何使用算帐页里的搜索？</h2>
<pre>

默认下算帐页会显示灰色，黑色，黄色，以及最近一周的绿色订单。

如果你需要在默认的订单列表中进行搜索，你可以直接输入关键字，例如：输入“小”， 则会显示名字包含”小“的客户，例如： 王小二，小娟， 发小......

如果你需要搜索指定颜色的订单，你可以输入关键字：
”／g"：  绿色订单
”／b"：  黑色订单
”／y"：  黄色订单
”小／g"：  名字包含小的绿色订单
”小／b"：  名字包含小的黑色订单
”小／y"：  名字包含小的黄色订单

如果你需要在所有的订单包含哪些已经是绿色并归档的订单中进行搜索，你需要先输入空格，然后输入关键字，根据需要加上／g／b／y再进行过滤，例如：“  小／g"：名字包含小的所有绿色订单......基本上与在默认订单列表中搜索一样， 唯一需要注意的，出于性能的考虑，全文搜索必须输入至少一个关键字。
</pre>

    </div>
</div>