
<div class="swiper-container">
    <div class='logobox'>
        <img class="woman" src="images/woman.jpg" />
    </div>
    <div class='cogbox'>
        <a href="#settings" class="icon icon-cog"></a>
        <a href=""  class="icon icon-signout"></a>
    </div>
    <div class="swiper-pagination">
    </div>
    <div class="swiper-wrapper">
        <% if((!user.access) || (user.access && user.access.receivedOrders)){ %>
            <section class="swiper-slide" id="receivedOrders">
                <div class="searchbox">
                    <button type="button" text="Add" class="fl icon icon-add" data-bind="tap:$root.addOrder"> 新建 </button>
                    <button type="button" text="Add" class="lmargin-5 fl icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitOrders"> 保存</button>
                    <div class="lmargin-220">
                        <input type="text" class="w-p100 input-search" id="search-receivedOrders" data-bind="event: {input: $root.searchOrders}" placeholder="搜索客户订单" />
                    </div>
                </div>
                <div class="tmargin-40" data-bind="foreach: {data:orders,afterRender: afterRender}">
                    <section class="order order--received enterArea">
                        <div class="order-client">
                            <input type="hidden" data-bind="value: _id" />
                            <div class="order-clientbox">
                                <input type="text" class="client oneline" data-bind="value: client" placeholder="客户" />
                            </div>
                        </div>
                        <div class="order-items">
                            <div class="order-actionbox">
                                <a href="#" class="icon icon-add" data-bind="tap:$root.addItem"> </a>
                                <a href="#" class="icon icon-leaf action-submit action-mark" data-bind="tap: $root.markPackingStatus, css: orderPackingStatus"> </a>
                                <a href="#" class="icon action-submit action-mark" data-bind="tap: $root.markPackingStatus, css: orderReadyStatus"> </a>
                                <a href="#" class="icon icon-remove-sign action-submit action-delete" data-bind="tap: $root.removeOrder"></a>
                            </div>
                            <!-- ko foreach: items -->
                            <fieldset class="item">
                                <span class="w-p40">
                                    <input  type="text" class="oneline" data-bind="value: name" placeholder="产品" />
                                </span>
                                <span class="w-p10">
                                    <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="数量" />
                                </span>
                                <span class="w-p30">
                                    <input  type="text" data-bind="value: note" placeholder="备注:" />
                                </span>
                                <span class="w-p20 taRight rpadding-5">
                                     <a href="#" class="icon icon-remove  action-submit" data-bind="tap: $root.removeItem"></a>
                                </span>
                            </fieldset>
                            <!-- /ko -->
                        </div>
                    </section>
                </div>
            </section>
        <% } %>
        <% if((!user.access) || (user.access && user.access.purchaseItems)){ %>
            <section class="swiper-slide" id="purchaseItems">
                <div class="tagbox">
                    <span class="tagbox-label">标签：</span>
                    <div class="tagbox-tags">
                        <a href="#" class="link-tag all isActive" data-bind="tap: $root.filterItems">所有</a>
                        <!-- ko foreach: tags -->
                        <a href="#" class="link-tag" data-bind="text: $data, tap: $root.filterItems"></a>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="orderitems">
                    <div class="orderitems-header">
                        <span class="w-p30 taCenter"><a class="icon icon-refresh"  data-bind="tap:function(){$root.refreshItems('')}"></a>标签</span>
                        <span class="w-p30 taLeft">产品</span>
                        <span class="w-p10 taRight rpadding-5">数量</span>
                        <span class="w-p20 taRight  rpadding-5"><a class="icon icon-refresh" data-bind="tap: function(){$root.refreshItems('status')}"></a>标记</span>
                        <span class="w-p10 taRight rpadding-5">差</span>
                    </div>
                    <div data-bind="foreach: {data: items,afterRender: afterRender}">
                        <div class="orderitem">
                            <div class="orderitem-cnt">
                                <span class="taLeft w-p30">
                                    <input  type="text" data-bind="value: tag" class="hidden-tag" />
                                    <input  type="hidden" data-bind="value: _id" class="hidden-item" />
                                </span>
                                <span class="taLeft w-p30 oneline" data-bind="text: _id"></span>
                                <span class="taRight w-p10 rpadding-5" data-bind="text: quantity"></span>
                                <span class="w-p20 orderitem-cnt-btns">
                                    <a href="#" class="icon icon-search  action-load" data-bind="tap: getSubItems"></a>
                                    <a href="#" class="icon icon-flag action-submit" data-bind="tap: markDone, css: markItemStatus()"></a>
                                </span>
                                <span class="taRight w-p10" data-bind="text: restCount"></span>
                            </div>
                            <div class="orderitem-subItems">
                                <!-- ko if: subItems().length>0 -->
                                <div class="subItems">
                                    <div class="subItems-header">
                                        <span class="w-p30 taCenter">客户</span>
                                        <span class="w-p30 taLeft">备注</span>
                                        <span class="w-p10 taRight rpadding-5">数量</span>
                                        <span class="w-p20 taRight rpadding-5">标记</span>
                                        <span class="w-p10 taRight rpadding-5"></span>
                                    </div>
                                    <div class="subItems-cnt" data-bind="template:{ name: 'subItem', foreach: subItems }">
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: subItems().length==0 -->
                                <p class="taCenter">暂时没有获取到产品的客户列表。</p>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/html" id="subItem">
                    <section class="subItems-item">
                        <input type="hidden" data-bind="value: _id" />
                        <span class="w-p30 oneline taCenter" data-bind="text: client"> </span>
                        <span class="w-p30 taLeft" data-bind="text: note"> </span>
                        <span class="w-p10 taRight" data-bind="text: quantity"> </span>
                        <span class="taRight w-p20">
                            <a href="#" class="icon icon-flag action-submit" data-bind="tap: function(data, parent,event){$parent.markSubItemDone(data,parent,event,arguments[3],arguments[4],$root);}, css: {'font-green': isDone}"></a>
                        </span>
                        <span class="w-p10 taRight rpadding-5"></span>
                    </section>
                </script>
            </section>
        <% } %>
        <% if ((!user.access) || (user.access && user.access.reckoningOrders)){ %>
            <section class="swiper-slide" id="reckoningOrders">
                <div class="searchbox">
                    <button type="button" text="Add" class="rmargin-20 fl icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitOrders"> 保存 </button>
                    <a href="#" class="fl icon icon-eye" data-bind="tap: $root.toggleClientView"></a>
                    <div class="lmargin-150">
                        <input type="text" class="w-p100 input-search" id="search-reckoningOrders" data-bind="event: {input: $root.searchOrders}" placeholder="搜索客户订单" />
                    </div>
                </div>
                <div class="tmargin-40 orders  orders--reckoning" data-bind="foreach: {data: orders,afterRender: afterRender}">
                    <section class="order order--reckoning enterArea">
                        <div class="order-client">
                            <input type="hidden" data-bind="value: _id" />
                            <input type="hidden" data-bind="value: rate" />
                            <div class="order-clientbox">
                                <input type="text" class="client oneline" data-bind="value: client" placeholder="客户" />
                            </div>
                            <div class="taCenter">
                                <span data-bind="text: displayDate"></span>
                            </div>
                        </div>
                        <div class="order-items">
                            <div class="order-actionbox">
                                <a href="#" class="icon icon-add" data-bind="tap:addItem"> </a>
                                <a href="#" class="icon icon-flag rmargin-20 action-submit action-mark" data-bind="tap:$parent.markDone, css: orderStatus"> </a>
                                <a href="#" class="icon icon-remove-sign  action-submit action-delete" data-bind="tap: $parent.removeOrder"></a>
                            </div>
                            <!-- ko if: _id() != '' -->
                            <div class="order-totalbox">
                                <span class="font-bold font-red vaTop onlyForMe" data-bind="css:{'font-red': isComplete}">
                                    <span class="w-p20">总共：</span>
                                    <span class="w-p10"><input type="text" class="w-30 font-bold postage" placeholder='Fee' data-bind="value: postage,css:{'font-red': isComplete}" /></span>
                                    <span class="w-p15" data-bind="text: formatPrice(buyPrice)"></span>
                                    <span class="w-p15" data-bind="text: formatPrice(sellPrice)"></span>
                                    <span class="w-p15" data-bind="text: formatPrice(profit)"></span>
                                    <span class="w-p25"></span>
                                </span>
                                <span class="font-bold font-red vaTop onlyForClient" data-bind="css:{'font-red': isComplete}">
                                    <span class="lmargin-5">总共： &nbsp;</span>
                                    <span data-bind="text: formatPrice(sellPrice)"></span>
                                    <span>&nbsp;+ &nbsp;</span>
                                    <span class="w-p15 postagebox"><input type="text" class="w-30 font-bold postage"  data-bind="value: postage,css:{'font-red': isComplete}" /></span>
                                    <span>&nbsp;=&nbsp;</span>
                                    <span data-bind="text: total"></span>
                                </span>
                            </div>
                            <!-- /ko -->
                            <div class="items" data-bind="foreach: items">
                                <fieldset class="item">
                                    <div class="item-fields">
                                        <span class="w-p20 name">
                                            <input  type="text" class="oneline" data-bind="value: name" placeholder="产品" />
                                        </span>
                                        <span class="w-p10 quantity">
                                            <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="数量" />
                                        </span>
                                        <span class="w-p15 onlyForMe">
                                            <input  type="text" data-bind="value: buyPrice" placeholder="买" />
                                        </span>
                                        <span class="w-p15 sell">
                                            <input  type="text" data-bind="value: sellPrice" placeholder="卖" />
                                        </span>
                                        <span class="w-p15 onlyForMe">
                                            <input  type="text" readonly data-bind="value: profit" placeholder="收益" />
                                        </span>
                                                                                    <span class="w-p25 actions">
                                            <a href="#" class="icon icon-search  action-load" data-bind="tap: $parent.getHistoricTrades"></a>
                                            <a href="#" class="icon icon-remove action-submit" data-bind="tap: $parent.removeItem"></a>
                                        </span>
                                    </div>
                                    <div class="historicbox">
                                        <!-- ko if: historicTrades().length>0 -->
                                        <div class="historic">
                                            <div class="historic-header">
                                                <span class="w-p20 taLeft client">客户</span>
                                                <span class="w-p10 taLeft quantity">数量</span>
                                                <span class="w-p15 taLeft buy">买</span>
                                                <span class="w-p15 taLeft sell">卖</span>
                                                <span class="w-p40 taLeft lpadding-5 date">日期</span>
                                            </div>
                                            <div class="historic-items" data-bind="template:{ name: 'historicTrades' , foreach: historicTrades }">
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: historicTrades().length==0 -->
                                        <p class="taCenter">没有找到历史交易。</p>
                                        <!-- /ko -->
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </section>
                </div>
                <script type="text/html" id="historicTrades">
                    <section class="historic-item">
                        <input type="hidden" data-bind="text: name"></input>
                        <span class="w-p20 oneline taLeft vaTop name" data-bind="text: client"></span>
                        <span class="w-p10 taLeft quantity" data-bind="text: quantity"></span>
                        <span class="w-p15 taLeft buy" data-bind="text: buyPrice"></span>
                        <span class="w-p15 taLeft sell" data-bind="text: sellPrice"></span>
                        <span class="w-p40 taLeft date" data-bind="text: createDate"></span>
                    </section>
                </script>
            </section>
        <% } %>
        <% if ((!user.access) || (user.access && user.access.incomeList)){ %>
            <section class="swiper-slide" id="incomeList">
                <div class="incomelist isMobile tmargin-10">
                    <div class="incomelist-header">
                        <span class="w-p15 taLeft">年</span>
                        <span class="w-p10 taLeft">周</span>
                        <span class="w-p15 taLeft">周期</span>
                        <span class="w-p20 taRight rpadding-5">成本</span>
                        <span class="w-p20 taRight  rpadding-5">收入</span>
                        <span class="w-p20 taRight rpadding-5">收益</span>
                    </div>
                    <div  data-bind="foreach:{ data:incomeList,afterRender: afterRender}">
                        <!-- ko if: ($index() + 1) != ($root.incomeList().length) -->
                        <div class="orderitem">
                            <div class="orderitem-cnt">
                                <span class="taLeft w-p15" data-bind="text: year"></span>
                                <span class="taLeft w-p10" data-bind="text: week"></span>
                                <span class="taLeft w-p15">

                                        <i data-bind="text: firstDate"></i> -
                                        <i data-bind="text: lastDate"></i>

                                </span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(cost)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(revenue)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(income)"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: ($index() + 1) == $root.incomeList().length -->
                        <div class="orderitem">
                            <div class="orderitem-cnt total">
                                <span class="taRight w-p40  rpadding-5"><label class="vaMiddle">汇总？</label><a class="icon icon-eyeslash vaMiddle" data-bind="tap: $root.toggleTotalView"></a></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(cost)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(revenue)"></span>
                                <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(income)"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </section>
        <% } %>
    </div>
</div>

<div class="prompt">
    <span class="prompt-submitting"><i class="fa fa-spinner fa-pulse"></i> <span> 提交中...</span></span>
    <span class="prompt-succeed disappeared icon icon-peace"> 提交成功!</span>
</div>
<div class="confirm">
    <button type="button" class="ispure confirm-submit taCenter ">确认</button>
    <button type="button" class="ispure confirm-cancel taCenter lmargin-5">取消</button>
</div>
<div class="dNone">
    <div id="settings">
        <settings></settings>
    </div>
</div>
