<article id="login">
    <form action="./login" method="post" class="form-login">
        <div>
            <span>
            <input class='input-line' type="text"  name="username" value="" placeholder="Name" />
        </span>
            <span>
            <input class='input-line lmargin-5' type="password" name="password" value="" placeholder="Password" />
        </span>
            <span class="taRight">
        <button type="submit" class="icon icon-signin"></button>
        </span>
        </div>
    </form>

    <div class="registrationbox" >
        <div id="registration">

            <registration></registration>


        </div>
    </div>
</article>


<script src="components/requirejs/require.js"></script>

<!-- registration:js -->
<!-- endinject -->
<script>

    var USER_ID = '';

    require(['js/requireConfig'],function(util){

        require(['../js/main-login']);

    });

</script>