

<% if (name == 'index') {%>
    <script src="components/requirejs/require.js"></script>
    <!-- index:js -->
    <!-- endinject -->
    <script>
    var USER_ID = '<%- _id %>';
    var orders = <%- JSON.stringify(orders) %>
    require(['js/requireConfig'], function(util) {

        <% if(_id!='') {%>

        require(['../js/main'],function(run){
            run();
        });
        <% } else{ %>
        require(['../js/main-login'], function(run) {
            run();

        });
        <% } %>
    });
    </script>
<% }else if (name == 'content') {%>
    <script>
    var USER_ID = '<%- _id %>';
    var orders = <%- JSON.stringify(orders) %>
    require(['js/requireConfig'], function(util) {
        require(['../js/main'],function(run){
            run();
        });
    });
    </script>
<% }else if (name == 'login') {%>
    <script>
    var USER_ID = '';
    require(['./js/requireConfig'], function() {
        require(['../js/main-login'], function(run) {
            run();

        });
    });
    </script>

<% }else if (name == 'clients') {%>

    <script src="components/requirejs/require.js"></script>

    <script>

    var clients = <%- JSON.stringify(clients) %>

    require(['js/requireConfig'], function(util) {
        require(['../js/main-client'],function(run){
            run();
        });
    });

    </script>
<% } %>
