

<div class="loginbox" ng-show="!$ctrl.logged">
    <div class="form-login" >
        <div>
            <span>
            <input class='input-line' type="text"  name="username" ng-model="$ctrl.loginName" placeholder="Name" />
        </span>
            <span>
            <input class='input-line lmargin-5' type="password" name="password" ng-model="$ctrl.loginPassword" placeholder="Password" />
        </span>
            <span class="taRight">
        <button type="submit" class="icon icon-signin" ng-click="$ctrl.verifyUser()"></button>
        </span>
        </div>
    </div>


    <div class="registration blank" ng-show="!$ctrl.saved && !$ctrl.logged">


        <a class="font-b15 font-red" ng-click="$ctrl.registerToggle()" href="">新用户？</a>

        <div class="fieldsbox" ng-class="$ctrl.statusClass">
            <input class="tmargin-10" type="text" placeholder="Name" ng-model="$ctrl.name" ng-blur="$ctrl.verifyName()">
            <label class="warning" ng-show="!$ctrl.isLegalName">Require 6 letters at least</label>
            <input class="tmargin-10" type="password" placeholder="Password" ng-model="$ctrl.password" ng-blur="$ctrl.verifyPassword()">
            <label class="warning" ng-show="!$ctrl.isLegalPassword" >Require 8 letters or numbers at least</label>
            <input class="tmargin-10" type="password" placeholder="Password Confirmation" ng-model="$ctrl.passwordConfirmation" ng-blur="$ctrl.verifyConfirmPassword()">
            <label class="warning" ng-show="!$ctrl.isConfirmed">Password is not consistent</label><br>
            <button class="tmargin-10 ispure"  ng-click="$ctrl.saveUser()">Submit</button>
        </div>
    </div>
    <div class="success" ng-show="$ctrl.saved">Please contact me by wechat: xiaoviba to activate your account.</div>
</div>

<div class="loading" ng-show="$ctrl.logged">loading</div>