

<div class="loginbox">

    <div class='logobox logobox--login'>
        <img class="logo" src="./images/logoname.png"/>
    </div>
    <div class="form-login"  ng-class="$ctrl.loginStatus">

        <span class="namebox">
            <input class='input-line' type="text"  name="username" ng-model="$ctrl.loginName" placeholder="哪位老板？" />
        </span>
        <span class="pwdbox">
            <input class='input-line' type="password" name="password" ng-model="$ctrl.loginPassword" placeholder="登录密码？" />
        </span>
        <span class="btnbox">
        <button type="submit" class="icon icon-signin" ng-click="$ctrl.verifyUser()"></button>
        </span>

    </div>

    <div class="menu--login">
        <a class="font-red"  href="">返回</a>

        <a class="font-red" ng-click="$ctrl.registerToggle()" href="">新用户？</a>
    </div>


    <div class="registration"  ng-class="$ctrl.registrationStatus">

        <div class="fieldsbox">

        <div class="fieldbox-name">
            <input type="text" placeholder="Name" ng-model="$ctrl.name" ng-blur="$ctrl.verifyName()">
            <label class="warning" ng-show="!$ctrl.isLegalName">Require 6 letters at least</label>
        </div>

        <div class="fieldbox-pwd">
            <input type="password" placeholder="Password" ng-model="$ctrl.password" ng-blur="$ctrl.verifyPassword()">
            <label class="warning" ng-show="!$ctrl.isLegalPassword" >Require 8 letters or numbers at least</label>
        </div>

        <div class="fieldbox-pwdconfirm">

            <input type="password" placeholder="Password Confirmation" ng-model="$ctrl.passwordConfirmation" ng-blur="$ctrl.verifyConfirmPassword()">
            <label class="warning" ng-show="!$ctrl.isConfirmed">Password is not consistent</label><br>
        </div>

        <div class="fieldbox-btn">

            <button class="ispure"  ng-click="$ctrl.saveUser()">Submit</button>
            </div>
        </div>
    </div>

    <div class="success" ng-class="$ctrl.successStatus" >Please contact me by wechat: xiaoviba to activate your account.</div>
</div>