@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fl{
    float: left;
}
.taLeft{
    text-align: left;
}
.taRight{
    text-align: right;
}
.taCenter{
    text-align: center;
}

.vaMiddle{
    vertical-align: middle;
}
.w-p100{
    width:100%;
}
.w-p80{
    width:80%;
}
.w-p40{
    width:40%;
}
.w-p10{
    width:10%;
}
.w-p5{
    width:5%;
}
.w-p15{
    width:15%;
}

.w-p20{
    width:20%;

}
.w-p30{
    width:30%;
}

.tmargin-5{
    margin-top: 5px;
}
.tmargin-10{
    margin-top: 10px;
}
.lmargin-150{
    margin-left: 150px;
}
.rmargin-5{
    margin-right: 5px;
}
.rmargin-20{
    margin-right: 20px;
}

.font-white{
    color:#fff;
}

.font-green{
    color:#99ff99;
}
.font-bold{
    font-weight: bold;
}

.font-red{
    color:#cc0066;
}
html{
    font-family: helvetica, arial, "\5b8b\4f53", sans-serif;
    font-size:10px;
    color:#333;
}


body, span{
    font-size:1.3rem;
    line-height: 18px;
}
span{
    font-size:1.3rem;
}



:focus{
    outline: 0;
}

a{
    text-decoration: none;
    color:#333;
    font-size:1.4rem;
    line-height: 18px;

}

header, footer, main{
    max-width: 375px;
    margin-left:auto;
    margin-right:auto;
}

.icon{
    vertical-align: middle;
}

.icon:before{
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 17px;
}

.icon-remove:before{
    content: "\f00d";
}
.icon-search:before{
    content: "\f002";
}
.icon-add:before{
    content: "\f055";
}
.icon-save:before{
    content: "\f058";
}

.icon-remove-sign:before{
    content: "\f057";
}

.icon-address:before{
    content: "\f0e0";
}
.icon-circle:before{
    content: "\f111";
}




input[type="text"], input[type="number"]{
    box-sizing: border-box;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    border-bottom: 1px solid #999;
    padding: 0 0 0 5px;
    font-size: 1.3rem;
    line-height: 18px;
}
input[type="text"]:focus, input[type="number"]:focus{
    border-bottom: 1px solid #cc0066;

}

button{
    box-sizing: border-box;
    min-width: 125px;
    text-align: left;
    box-shadow: none;

    border: solid 1px #cc0066;
    background-color:  #fff;
    padding: 0 0 0 5px;
    font-size: 1.5rem;
    line-height: 18px;
    border-radius: 8px;

}


.order{
    position: relative;
    border: 1px solid #cc0066;
    border-top: none;
    margin-bottom:10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

.order-head{

    background-color: #cc0066;
    height:26px;

    padding-left:5px;

}
.order-head:after{
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.order-head input{

     border-bottom: solid 1px #fff;
     width:125px;
     box-sizing: border-box;
     vertical-align: middle;
}

.order-head input:focus{
     border-bottom: solid 1px #fff;

}

.order-head button{

     border: solid 1px #fff;
}

.order-savebox{
    line-height: normal;
    position: absolute;
    right:5px;
    top:4px;
}

.order-addressbox, .order-itembox{
    padding-left:5px;
    padding-right:5px;
}
.address{
    position: relative;
    margin-bottom: 5px;
    font-size: 0;
}

.address > input{
    margin-right: 1px;
}

.address-actions{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -7px;
}

.item{
    position: relative;
    margin-bottom: 5px;
}

.item-actions{
    position: absolute;
    right: 0;
    top:1px;
}

.item-fields{
    font-size: 0;
    vertical-align: middle;

}
.item-fields > input{
    margin-right: 1px;

}
.item-historicTrades{
    width:100%;
    border: 1px solid #cc0066;
    box-sizing: border-box;
}

.item-historicTrades td, .item-historicTrades th{

    border: 1px solid #cc0066;
    padding-left:5px;

}
.item-historicTrades td:last-child, .item-historicTrades th:last-child{

    padding-right: 5px;
    padding-left:0;
}

.item-historicTrades th{
    font-weight: normal;
}

