@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.taLeft {
    text-align: left;
}

.taRight {
    text-align: right;
}

.taCenter {
    text-align: center;
}

.vaMiddle {
    vertical-align: middle;
}

.w-p100 {
    width: 100%;
}

.w-p10 {
    width: 9.99%;
}

.w-p5 {
    width: 5%;
}

.w-p15 {
    width: 15%;
}

.w-p20 {
    width: 20%;
}

.w-p25 {
    width: 25%;
}

.w-30 {
    width: 30px;
}

.w-p30 {
    width: 30%;
}

.w-p40 {
    width: 40%;
}

.w-p50 {
    width: 50%;
}

.w-p43 {
    width: 43%;
}

.w-p60 {
    width: 60%;
}

.w-p87 {
    width: 87%;
}

.w-p90 {
    width: 90%;
}

.tmargin-10 {
    margin-top: 10px;
}

.tmargin-40 {
    margin-top: 40px;
}

.lmargin-150 {
    margin-left: 175px;
}

.lmargin-220 {
    margin-left: 220px;
}

.lmargin-270 {
    margin-left: 270px;
}

.lmargin-5 {
    margin-left: 5px;
}

.rmargin-5 {
    margin-right: 5px;
}

.rmargin-10 {
    margin-right: 10px;
}

.rmargin-20 {
    margin-right: 20px;
}

.rpadding-5 {
    padding-right: 5px;
}

.rpadding-10 {
    padding-right: 10px;
}

.font-white {
    color: #fff;
}

.font-green {
    color: #99ff99;
}

.font-bold {
    font-weight: bold;
}

.font-red {
    color: #cc0066;
}

.font-yellow {
    color: #ffff00;
}

.font-darkyellow {
    color: #ffcc00;
}

html {
    font-family: helvetica, arial, "\5b8b\4f53", sans-serif;
    font-size: 10px;
    color: #333;
}

body,
span {
    font-size: 1.3rem;
    line-height: 18px;
}

span {
    font-size: 1.3rem;
}

:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    line-height: 18px;
}

header,
footer,
main {
    max-width: 640px;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 660px) {
    header,
    footer,
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

footer {
    /* height: 10px;
    border: none;
    background-color: #cc0066;*/
    margin-top: 10px;
}

.icon {
    vertical-align: middle;
}

.icon:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: normal;
}

a.icon {
    text-align: center;
    width: 30px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
}

a.icon:before {}

.icon-remove:before {
    content: "\f00d";
}

.icon-search:before {
    content: "\f002";
}

.icon-add:before {
    content: "\f067";
}

.icon-save-sign:before {
    content: "\f058";
}

.icon-save:before {
    content: "\f00c";
}

.icon-save-all:before {
    content: "\f0c7";
}

.icon-remove-sign:before {
    content: "\f057";
}

.icon-address:before {
    content: "\f0e0";
}

.icon-flag:before {
    content: "\f024";
}

.icon-signin:before {
    content: "\f090";
    font-size: 1.8rem;
}

.icon-peace:before {
    content: "\f25b";
}

.icon-searchplus:before {
    content: "\f00e";
}

.icon-eye:before {
    content: "\f06e";
}

.icon-eyeslash:before {
    content: "\f070";
}

.icon-leaf:before {
    content: "\f06c";
}

.icon-thumbsup:before {
    content: "\f164";
}

.icon-thumbsdown:before {
    content: "\f165";
}

input[type="text"],
input[type="number"],
input[type="password"] {
    box-sizing: border-box;
    border: 0;
    padding: 0 0 0 5px;
    font-size: 1.3rem;
    line-height: 18px;
}

input:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    border-bottom: 0;
}

.searchbox input, input.input-line {
    border-bottom: 1px solid #999;
}

.searchbox input[type="text"]:focus, input.input-line:focus {
    border-bottom: 1px solid #cc0066;
}

input[type="text"].postage {
    font-weight: bold;
    /* line-height: 1;
    height: 15px;
    vertical-align: text-bottom;
    width:20px;
    border-bottom: solid 1px #999;*/
    padding-left: 0;
}

.postagebox{
    display: inline-block;
    width:20px;
    font-size: 0;
    vertical-align: top;
}

.order--received input,
.order--reckoning input {
    border: 0;
    width: 100%;
}

.order--received input.client,
.order--reckoning input.client {
    text-align: center;
    background-color: #ffcccc;
}

button {
    box-sizing: border-box;
    min-width: 100px;
    text-align: left;
    box-shadow: none;
    border: solid 1px #cc0066;
    background-color: #fff;
    padding: 0 0 0 5px;
    font-size: 1.5rem;
    line-height: 18px;
    /*border-radius: 8px;*/
    /*text-transform: uppercase;*/
    /*box-shadow: 2px 2px 3px;*/
    cursor: pointer;
    height: 20px;
}

.searchbox {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;

}

.orders.isClientView .onlyForMe {
    display: none;
}

.onlyForClient {
    display: none;
}

.orders.isClientView .onlyForClient {
    display: inline-block;
}

.order {
    position: relative;
    border-top: 1px solid #cc0066;
    border-left: 1px solid #cc0066;
    border-right: 1px solid #cc0066;
    width: 100%;
    box-sizing: border-box;
    display: table;
}

.order--received {}

.order:last-child {
    border-bottom: 1px solid #cc0066;
}

.order--received .order-clientbox,
.order--reckoning .order-clientbox {
    background-color: #ffcccc;
    border-bottom: 1px solid #cc0066;
    font-size: 0;
}

.order--received .order-client,
.order--reckoning .order-client {
    width: 30%;
    display: table-cell;
    border-right: 1px solid #cc0066;
}

.order--reckoning .order-client {
    width: 20%;
}

.order-actionbox {
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-bottom: 1px solid #cc0066;
    line-height: 0;
    font-size: 0;
    background-color: #ffcccc;
}

.order-actionbox:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

.order-actionbox > icon {
    vertical-align: top;
}

.order--received .order-items {
    width: 70%;
    display: table-cell;
    vertical-align: top;
}

.order--reckoning .order-items {
    width: 80%;
    display: table-cell;
    vertical-align: top;
}

.order-totalbox {
    border-bottom: 1px solid #cc0066;
}

.order-totalbox > .onlyForMe {
    display: block;
    font-size: 0;
    line-height: 0;
}

.order-totalbox > .onlyForMe span {
    display: inline-block;
    border-right: 1px solid #cc0066;
    padding-left: 5px;
    box-sizing: border-box;
    vertical-align: top;
}

.order-totalbox > .onlyForMe span:nth-child(2) {
    line-height: 0;
}

.order-totalbox > .onlyForMe span:last-child {
    border-right: 0;
}

.item {
    border-bottom: 1px solid #cc0066;
    margin-bottom: 0;
    display: block;
}

.order--received .item {
    font-size: 0;
}

.item:last-child {
    border-bottom: none;
}

.order--received .item:last-child {
    border-bottom: none;
}

.item > span {
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
}

.order--received .item > span {
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
}

.order--reckoning .item-fields > span {
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
}

.order--received .item > span:last-child {
    border-right: 0;
}

.order--reckoning .item-fields > span:last-child {
    border-right: 0;
}

.order-addressbox,
.order-itembox {
    padding-left: 5px;
    padding-right: 5px;
}

.address {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
}

.address > input {
    margin-right: 1%;
}

.address-actions {
    position: absolute;
    right: 0;
    top: 10px;
    /*margin-top: -7px;*/
}

.item {
    position: relative;
}

.item-actions {
    position: absolute;
    right: 0;
    top: 1px;
}

.order--received .item-actions {
    position: absolute;
    right: 0;
    top: 0;
}

.order--received .leftPosition {
    left: 0;
}

.item-fields {
    font-size: 0;
    vertical-align: middle;
}

.item-fields > input {
    margin-right: 0.5%
}

.historicbox {
    display: none;
    border-top: 1px solid #cc0066;
}

.historic {
    width: 100%;
}

.historic-header {
    border-bottom: 1px solid #cc0066;
    font-size: 0;
    line-height: 0;
    background-color: #ffcccc;
}

.historic-header > span {
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
}

.historic-header > span:last-child {
    border-right: 0;
}

.historic-items {
    background-color: #ffcccc;
}

.historic-item {
    border-bottom: 1px solid #cc0066;
    font-size: 0;
    line-height: 0;
}

.historic-item:last-child {
    border-bottom: 0;
}

.historic-item > span {
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px
}

.historic-item > span:last-child {
    border-right: 0;
}


/**** items.html ***/

.box-viewselection {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-viewselection input[type="radio"] {
    -webkit-appearance: radio;
    appearance: radio;
    margin: 0;
}

.orderitems {
    width: 100%;
    border: 1px solid #cc0066;
    box-sizing: border-box;
}

.orderitems-header {
    font-size: 0;
    background-color: #cc0066;
}

.orderitems-header span {
    font-size: 1.3rem;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    padding-left: 5px;
}

.orderitem {
    background-color: #ffcccc;
    border-bottom: 1px solid #cc0066;
}

.orderitem:last-child {
    border-bottom: none;
}

.orderitem-cnt {
    font-size: 0;
}

.orderitem-cnt span {
    font-size: 1.3rem;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
    border-right: 1px solid #cc0066;
    vertical-align: middle;
    height: 18px;
}

span.orderitem-cnt-btns {
    font-size: 0;
    padding: 0;
}

.orderitem-cnt span:last-child {
    border-right: none;
}

.orderitem-subItems {
    border-top: 1px solid #cc0066;
    display: none;
}

.subItems {
    width: 100%;
    background-color: #fff;
}

.subItems-header {
    font-size: 0;
    border-bottom: 1px solid #cc0066;
}

.subItems-header span {
    font-size: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
}

.subItems-header span:last-child {
    border-right: none;
}

.subItems-item {
    font-size: 0;
    border-bottom: 1px solid #cc0066;
}

.subItems-item:last-child {
    border-bottom: none;
}

.subItems-item span {
    font-size: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-right: 1px solid #cc0066;
    display: inline-block;
    box-sizing: border-box;
    height: 28px;
    vertical-align: middle;
}

.subItems-item span:last-child {
    border-right: none;
}

.subItems tr {
    border-bottom: 1px solid #cc0066;
}

.subItems tbody > tr:last-child {
    border-bottom: none;
}

.subItems th {
    font-weight: normal;
    background-color: #fff;
    color: #333;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-right: 1px solid #cc0066;
    box-sizing: border-box;
}

.subItems th:last-child {
    border-right: none;
}

.subItems td {
    font-weight: normal;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-right: 1px solid #cc0066;
    box-sizing: border-box;
}

.subItems td:last-child {
    border-right: none;
}


/**** addresses ***/

.alladdresses {
    padding-left: 5px;
    padding-right: 5px;
}

.alladdresses .address {
    font-size: 0;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

.alladdresses .address:last-child {
    margin-bottom: 0;
}

.alladdresses .address input {
    width: 32%;
    margin-right: 2%;
}

.alladdresses .address input:nth-of-type(4) {
    margin-right: 0;
}

.alladdresses .address .address-inputaddress {
    width: 100%;
    margin-right: 0;
    margin-top: 10px
}

.alladdresses .address-save {
    position: absolute;
    text-align: right;
    right: 0;
    top: 10px;
}

.alladdresses .address-remove {
    position: absolute;
    left: 0;
    top: 10px;
    text-align: left;
}


/***** login ****/

.form-login {
    /*text-align: center;*/
    position: absolute;
    top: 50%;
    width: 360px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    left: 50%;
    margin-left: -180px;
    margin-top:-115px;
}

.form-login button {
    min-width: 0;
    border: none;
    cursor: pointer;
    box-shadow: none;
}


/*** prompt ***/

.prompt {
    position: absolute;
    top: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    left: 50%;
    z-index: 999;
    overflow: hidden;
    height: 20px;
    display: none;
    box-shadow: 3px 3px 3px;
    background-color: #fff;
    opacity: 0.9;
}

.prompt-submitting,
.prompt-succeed {
    position: absolute;
    width: 100px;
    top: 0;
}

.prompt-submitting {
    left: 0;
    color: #cc0066;
    transition: left 300ms;
}

.prompt-submitting.disappeared {
    left: -100px;
}

.prompt-succeed {
    color: #33CC00;
    right: 0;
    transition: right 600ms;
}

.prompt-succeed.disappeared {
    right: -100px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-pulse {
    animation: 1s steps(8) 0s normal none infinite running fa-spin;
}

.fa-spinner:before {
    content: "\f110";
}


/**** incomeList ***/

.incomelist {
    width: 100%;
    border: 1px solid #cc0066;
    box-sizing: border-box;
}

.incomelist-header {
    font-size: 0;
    background-color: #cc0066;
}

.incomelist-header span {
    font-size: 1.3rem;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.incomeitem {
    background-color: #ffcccc;
    border-bottom: 1px solid #cc0066;
}

.incomeitem:last-child {
    border-bottom: none;
}

.incomeitem-cnt {
    font-size: 0;
}

.incomeitem-cnt span {
    font-size: 1.3rem;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-right: 1px solid #cc0066;
    vertical-align: middle;
}


/*** confirm **/

.confirm {
    font-size: 0;
    width: 205px;
    padding: 5px;
    background-color: #cc0066;
    line-height: 0;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -102.5px;
    z-index: 1;
}

.box-mynote{
    text-align: left;
    display: inline-block;

}


/**** registration *****/
.registration.ng-enter{


}

.registration.ng-enter-active{

}