
<% if(process.NODE_ENV == 'production'){ %>


    <link rel="stylesheet" type="text/css" href="css/all.min.css">

    <% if(css && css == 'swiper'){ %>

    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">

    <% } %>


<% }else {%>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/website.css">

    <% if(css && css == 'swiper'){ %>

    <link rel="stylesheet" type="text/css" href="css/swiper.css">

    <% } %>

<% } %>