<div class="swiper-container">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
        <section class="swiper-slide" id="receivedOrders">
            <div class="searchbox">
                <button type="button" text="Add" class="fl icon icon-add" data-bind="tap:$root.addOrder"> Order </button>
                <button type="button" text="Add" class="lmargin-5 fl icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitOrders"> Orders </button>
                <div class="lmargin-220">
                    <input type="text" class="w-p100 input-search" name="search-receivedOrders" data-bind="event: {input: $root.searchOrders}" placeholder="Search Your Orders" />
                </div>
            </div>
            <div class="tmargin-40" data-bind="foreach: orders">
                <section class="order order--received enterArea">
                    <div class="order-client">
                        <input type="hidden" data-bind="value: _id" />
                        <div class="order-clientbox">
                            <input type="text" class="client" data-bind="value: client" placeholder="Client" />
                        </div>
                    </div>
                    <div class="order-items">
                        <div class="order-actionbox">
                            <a href="#" class="icon icon-add" data-bind="tap:$root.addItem"> </a>
                            <a href="#" class="icon icon-leaf action-submit" data-bind="tap: $root.markPackingStatus, css: orderPackingStatus"> </a>
                            <a href="#" class="icon action-submit" data-bind="tap: $root.markPackingStatus, css: orderReadyStatus"> </a>
                            <a href="#" class="icon icon-remove-sign action-submit action-delete" data-bind="tap: $root.removeOrder"></a>
                        </div>
                        <!-- ko foreach: items -->
                        <fieldset class="item">
                            <span class="w-p40">
                    <input  type="text" data-bind="value: name" placeholder="Product" />
                </span>
                            <span class="w-p10">
                    <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                </span>
                            <span class="w-p30">
                    <input  type="text" data-bind="value: note" placeholder="Mark:" />
                </span>
                            <span class="w-p20 taRight rpadding-5"><!-- data-bind="css: { 'align-right': $index()%2==0 } -->

                     <a href="#" class="icon icon-remove  action-submit" data-bind="tap: $root.removeItem"></a>

                </span>
                        </fieldset>
                        <!-- /ko -->
                    </div>
                </section>
            </div>
        </section>
        <section class="swiper-slide" id="purchaseItems">
            <div class="box-viewselection">
                <input type="radio" name="itemview" value="name" data-bind="checked: itemview" /> By Name
                <input type="radio" name="itemview" value="mark" data-bind="checked: itemview" /> By Mark
            </div>
            <!-- ko if: itemview()=='name' -->
            <div class="orderitems">
                <div class="orderitems-header">
                    <span class="w-p40 taLeft">Name</span>
                    <span class="w-p10 taLeft">Q</span>
                    <span class="w-p50 taRight rpadding-5"> Done?</span>
                </div>
                <!-- ko foreach: items -->
                <div class="orderitem">
                    <div class="orderitem-cnt">
                        <span class="taLeft w-p40" data-bind="text: _id"></span>
                        <span class="taLeft w-p10" data-bind="text: quantity"></span>
                        <span class="taRight w-p50 orderitem-cnt-btns">
                            <a href="#" class="icon icon-search  rmargin-20 action-load" data-bind="tap: $root.getSubItems"></a>
                            <a href="#" class="icon icon-flag rmargin-5 action-submit" data-bind="tap: $root.markDone, css: markItemStatus() "></a>
                        </span>
                    </div>
                    <div class="orderitem-subItems">
                        <!-- ko if: subItems().length>0 -->
                        <div class="subItems">
                            <div class="subItems-header">
                                <span class="w-p40 taLeft">Client</span>
                                <span class="w-p10 taLeft">Q</span>
                                <span class="w-p25 taLeft">Mark</span>
                                <span class="w-p25 taRight rpadding-5">Date</span>
                            </div>
                            <div class="subItems-cnt" data-bind="template:{ name: 'subItem', foreach: subItems }">
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: subItems().length==0 -->
                        <p class="taCenter">Somehow we cannot get item detail for now!</p>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko if: itemview()=='mark' -->
            <div class="orderitems">
                <div class="orderitems-header">
                    <span class="w-p40 taLeft">Mark</span>
                    <span class="w-p40 taLeft">Name</span>
                    <span class="w-p20 taLeft">Q</span>
                </div>
                <!-- ko foreach: markedItems -->
                <div class="orderitem">
                    <div class="orderitem-cnt">
                        <span class="taLeft w-p40" data-bind="text: note"></span>
                        <span class="taLeft w-p40" data-bind="text: name"></span>
                        <span class="taLeft w-p20" data-bind="text: quantity"></span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <script type="text/html" id="subItem">
                <section class="subItems-item">
                    <input type="hidden" data-bind="value: _id" />
                    <span class="w-p40" data-bind="text: client"> </span>
                    <span class="w-p10" data-bind="text: quantity"> </span>
                    <span class="w-p25 taLeft" data-bind="text: note"> </span>
                    <span class="w-p25 taRight rpadding-5" data-bind="text: createDate"> </span>
                </section>
            </script>
        </section>
        <section class="swiper-slide" id="reckoningOrders">
            <div class="searchbox">
                <button type="button" text="Add" class="rmargin-20 fl icon icon-save-all action-submit action-enter" data-bind="tap:$root.submitOrders"> Orders </button>
                <a href="#" class="fl icon icon-eye" data-bind="tap: $root.toggleClientView"></a>
                <div class="lmargin-150">
                    <input type="text" class="w-p100 input-search" name="search-reckoningOrders" data-bind="event: {input: $root.searchOrders}" placeholder="Search Your Orders" />
                </div>
            </div>
            <div class="tmargin-40 orders  orders--reckoning" data-bind="foreach: orders">
                <section class="order order--reckoning enterArea">
                    <div class="order-client">
                        <input type="hidden" data-bind="value: _id" />
                        <input type="hidden" data-bind="value: rate" />
                        <div class="order-clientbox">
                            <input type="text" class="client" data-bind="value: client" placeholder="Client" />
                        </div>
                        <div class="taCenter">
                            <span data-bind="text: displayDate"></span>
                        </div>
                    </div>
                    <div class="order-items">
                        <div class="order-actionbox">
                            <a href="#" class="icon icon-add" data-bind="tap:addItem"> </a>
                            <a href="#" class="icon icon-flag rmargin-20 action-submit" data-bind="tap: markDone, css: orderStatus"> </a>
                            <a href="#" class="icon icon-remove-sign  action-submit action-delete" data-bind="tap: $parent.removeOrder"></a>
                        </div>
                        <!-- ko if: _id() != '' -->
                        <div class="order-totalbox">
                            <span class="font-bold font-red vaMiddle onlyForMe" data-bind="css:{'font-red': isComplete}">
                                <span class="w-p20">总共：</span>
                            <span class="w-p10"><input type="text" class="w-30 font-bold postage" placeholder='Fee' data-bind="value: postage,css:{'font-red': isComplete}" /></span>
                            <span class="w-p15" data-bind="text: formatPrice(buyPrice)"></span>
                            <span class="w-p15" data-bind="text: formatPrice(sellPrice)"></span>
                            <span class="w-p15" data-bind="text: formatPrice(profit)"></span>
                            <span class="w-p25"></span>
                            </span>
                            <span class="font-bold font-red vaMiddle onlyForClient" data-bind="css:{'font-red': isComplete}">
                                <span class="lmargin-5">总共： </span><span data-bind="text: formatPrice(sellPrice)"></span> +
                            <span class="w-p15 postagebox"><input type="text" class="w-30 font-bold postage"  data-bind="value: postage,css:{'font-red': isComplete}" /></span> = <span data-bind="text: total"></span>
                            </span>
                        </div>
                        <!-- /ko -->
                        <div class="items">
                            <!-- ko foreach: items -->
                            <fieldset class="item">
                                <div class="item-fields">
                                    <span class="w-p20">
                            <input  type="text" data-bind="value: name" placeholder="Product" />
                        </span>
                                    <span class="w-p10">
                            <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                        </span>
                                    <span class="w-p15 onlyForMe">
                            <input  type="text" data-bind="value: buyPrice" placeholder="Buy" />
                        </span>
                                    <span class="w-p15">
                            <input  type="text" data-bind="value: sellPrice" placeholder="Sell" />
                        </span>
                                    <span class="w-p15 onlyForMe">
                            <input  type="text" readonly data-bind="value: profit" placeholder="Profit" />
                        </span>
                                    <span class="w-p25  taRight rpadding-5">
                            <a href="#" class="icon icon-search  action-load" data-bind="tap: $parent.getHistoricTrades"></a>
                            <a href="#" class="icon icon-remove action-submit" data-bind="tap: $parent.removeItem"></a>
                        </span>
                                </div>
                                <div class="historicbox">
                                    <!-- ko if: historicTrades().length>0 -->
                                    <div class="historic">
                                        <div class="historic-header">
                                            <span class="w-p20 taLeft">Client</span>
                                            <span class="w-p10 taLeft">Q</span>
                                            <span class="w-p15 taLeft">Buy</span>
                                            <span class="w-p15 taLeft">Sell</span>
                                            <span class="w-p40 taLeft lpadding-5">Date</span>
                                        </div>
                                        <div class="historic-items" data-bind="template:{ name: 'historicTrades' , foreach: historicTrades }">
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: historicTrades().length==0 -->
                                    <p class="taCenter">we cannot get historic trades!</p>
                                    <!-- /ko -->
                                </div>
                            </fieldset>
                            <!-- /ko -->
                        </div>
                    </div>
                </section>
            </div>
            <script type="text/html" id="historicTrades">
                <section class="historic-item">
                    <input type="hidden" data-bind="text: name"></input>
                    <span class="w-p20 taLeft" data-bind="text: client"></span>
                    <span class="w-p10 taLeft" data-bind="text: quantity"></span>
                    <span class="w-p15 taLeft" data-bind="text: buyPrice"></span>
                    <span class="w-p15 taLeft" data-bind="text: sellPrice"></span>
                    <span class="w-p40 taLeft" data-bind="text: createDate"></span>
                </section>
            </script>
        </section>
        <section class="swiper-slide" id="incomeList">
            <div class="incomelist  tmargin-10">
                <div class="incomelist-header">
                    <span class="w-p15 taLeft">Year</span>
                    <span class="w-p10 taLeft">Week</span>
                    <span class="w-p15 taLeft">Period</span>
                    <span class="w-p20 taRight rpadding-5">Cost</span>
                    <span class="w-p20 taRight  rpadding-5">Revenue</span>
                    <span class="w-p20 taRight rpadding-5"> Income</span>
                </div>
                <!-- ko foreach: incomeList -->
                <div class="orderitem">
                    <div class="orderitem-cnt">
                        <span class="taLeft w-p15" data-bind="text: year"></span>
                        <span class="taLeft w-p10" data-bind="text: week"></span>
                        <span class="taLeft w-p15">
                            <!-- ko if: ($index() + 1) != ($root.incomeList().length) -->

                                <i data-bind="text: firstDate"></i> -
                                <i data-bind="text: lastDate"></i>
                            <!-- /ko -->

                            <!-- ko if: ($index() + 1) == $root.incomeList().length -->
                                <i>总共:</i>
                            <!-- /ko -->
                         </span>
                        <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(cost)"></span>
                        <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(revenue)"></span>
                        <span class="taRight w-p20 rpadding-5" data-bind="text: $root.formatPrice(income)"></span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </section>
    </div>
</div>
<div class="taCenter">
    <div class="box-mynote taLeft tmargin-10">
        <p>我是薇爸, 我的生活就是：</p>
        <code><pre>
for (var i = 0; i < Infinity; i++) {
    //TODO:采购;
    背货;
    打单;
    分货;
    拍照;
    打包;
    发货;
    带娃;
}
</pre>
</code>
    </div>
</div>
<div class="prompt">
    <span class="prompt-submitting"><i class="fa fa-spinner fa-pulse"></i> <span>Submit...</span></span>
    <span class="prompt-succeed disappeared icon icon-peace"> Succeed!</span>
</div>
<div class="confirm">
    <button type="button" class="confirm-submit taCenter ">Confirm</button>
    <button type="button" class="confirm-cancel taCenter lmargin-5">Cancel</button>
</div>
<script>
var orders = <%- JSON.stringify(orders) %>
</script>
<script data-main="/js/main" src="/components/requirejs/require.js"></script>
