<div class="swiper-container">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
        <section class="swiper-slide" id="receivedOrders">
            <div>
                <button type="button" text="Add" class="lmargin-5 fl icon icon-add" data-bind="tap:$root.addOrder"> Add Order </button>
                <div class="lmargin-150">
                    <input type="text" class="w-p100 input-search" name="search-receivedOrders" data-bind="event: {input: $root.searchOrders}" placeholder="Search Your Orders" />
                </div>
            </div>
            <div class="tmargin-10" data-bind="foreach: orders">
                <section class="order">
                    <div class="order-head">
                        <input type="hidden" data-bind="value: _id" />
                        <input type="text" data-bind="value: client" placeholder="Client Name" />
                        <div class="order-savebox">
                            <a href="#" class="icon icon-remove-sign font-white rmargin-20" data-bind="tap: $root.removeOrder"></a>
                            <a href="#" class="icon icon-save-sign  font-white action-submit" data-bind="tap: $root.submitOrder"> </a>
                        </div>
                    </div>
                    <div class="order-itembox">
                        <div class="tmargin-10">
                            <button type="button" class="icon icon-add" text="Add" data-bind="tap:$root.addItem"> Add Item </button>
                        </div>
                        <div class="items tmargin-10">
                            <!-- ko foreach: items -->
                            <fieldset class="item">
                                <input class="w-p30" type="text" data-bind="value: name" placeholder="Product Name" />
                                <input class="w-p10" type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                                <input class="w-p40" type="text" data-bind="value: note" placeholder="Note:" />
                                <div class="item-actions">
                                    <a href="#" class="icon icon-remove" data-bind="tap: $root.removeItem"></a>
                                </div>
                            </fieldset>
                            <!-- /ko -->
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="swiper-slide" id="purchaseItems">
            <div class="orderitems">
                <div class="orderitems-header">
                    <span class="w-p30 taLeft">Name</span>
                    <span class="w-p10 taLeft">Q</span>
                    <span class="w-p60 taRight rpadding-5"> Done?</span>
                </div>
                <!-- ko foreach: items -->
                <div class="orderitem">
                    <div class="orderitem-cnt">
                        <span class="taLeft w-p30" data-bind="text: _id"></span>
                        <span class="taLeft w-p10" data-bind="text: quantity"></span>
                        <span class="taRight w-p60 orderitem-cnt-btns">
                <a href="#" class="icon icon-search  rmargin-20" data-bind="tap: $root.getSubItems"></a>
                <a href="#" class="icon icon-flag rmargin-5" data-bind="tap: $root.markDone, css: markItemStatus() "></a>
            </span>
                    </div>
                    <div class="orderitem-subItems">
                        <!-- ko if: hasItemDetail() -->
                        <div class="subItems">
                            <div class="subItems-header">
                                <span class="w-p30 taLeft">Client</span>
                                <span class="w-p10 taLeft">Q</span>
                                <span class="w-p30 taLeft">Note</span>
                                <span class="w-p30 taRight rpadding-5">Date</span>
                            </div>
                            <div class="subItems-cnt" data-bind="template:{ name: 'subItem', foreach: subItems }">
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: hasItemDetail() -->
                        <span>Somehow we cannot get item detail for now!</span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <script type="text/html" id="subItem">
                <section class="subItems-item">
                    <input type="hidden" data-bind="value: _id" />
                    <span class="w-p30" data-bind="text: client"> </span>
                    <span class="w-p10" data-bind="text: quantity"> </span>
                    <span class="w-p30 taLeft" data-bind="text: note"> </span>
                    <span class="w-p30 taRight rpadding-5" data-bind="text: createDate"> </span>
                </section>
            </script>
        </section>
        <section class="swiper-slide" id="reckoningOrders">
            <div>
                <button type="button" text="Add" class="fl icon icon-add lmargin-5" data-bind="tap:$root.addOrder"> Add Order </button>
                <div class="lmargin-150">
                    <input type="text" class="w-p100 input-search" name="search-reckoningOrders" data-bind="event: {input: $root.searchOrders}" placeholder="Search Your Orders" />
                </div>
            </div>
            <div class="tmargin-10" data-bind="foreach: orders">
                <section class="order">
                    <div class="order-head">
                        <input type="hidden" data-bind="value: _id" />
                        <input type="hidden" data-bind="value: rate" />
                        <input type="text" data-bind="value: client" placeholder="Client Name" />
                        <span data-bind="text: displayDate" class="vaMiddle font-white"></span>
                        <div class="order-savebox">
                            <a href="#" class="icon icon-remove-sign font-white rmargin-20" data-bind="tap: $parent.removeOrder"></a>
                            <a href="#" class="icon icon-flag rmargin-20 font-white" data-bind="tap: markDone, css: { 'font-green': status() == 'DONE' }"> </a>
                            <a href="#" class="icon icon-save-sign font-white" data-bind="tap: submitOrder"> </a>
                        </div>
                    </div>
                    <div class="order-addressbox tmargin-10">
                        <div>
                            <button type="button" class="icon icon-add" data-bind="tap:addAddress"> Add Address</button>
                            <!-- ko if: _id() == '' -->
                            <button type="button" class="icon icon-address" data-bind="tap:getAddresses"> Get Addresses</button>
                            <!-- /ko -->
                        </div>
                        <div class="addresses tmargin-10">
                            <!-- ko foreach: addresses -->
                            <fieldset class="address">
                                <input type="hidden" data-bind="value: _id" />
                                <input type="hidden" data-bind="value: client" />
                                <input class="w-p43" type="text" data-bind="value: recipient" placeholder="Recipient" />
                                <input class="w-p43" type="text" data-bind="value: phone" placeholder="Phone" />
                                <input class="w-p87 tmargin-10" type="text" data-bind="value: address" placeholder="Address" />
                                <div class="address-actions">
                                    <a href="#" class="icon icon-remove" data-bind="tap: $parent.removeAddress"> </a>
                                </div>
                            </fieldset>
                            <!-- /ko -->
                            <!-- <button type="button" text="Add" data-bind="tap:submitAddresses">Submit </button> -->
                        </div>
                    </div>
                    <div class="order-itembox">
                        <div>
                            <button type="button" text="Add" class="icon icon-add rmargin-5" data-bind="tap:addItem"> Add Item</button>
                            <!-- ko if: _id() != '' -->
                            <span class="font-bold font-red vaMiddle">
                    <span>B: </span><span class="rmargin-5" data-bind="text: buyPrice"></span>
                            <span>S: </span><span class="rmargin-5" data-bind="text: sellPrice"></span>
                            <span>P: </span><span data-bind="text: profit"></span>
                            </span>
                            <!-- /ko -->
                        </div>
                        <div class="items tmargin-10">
                            <!-- ko foreach: items -->
                            <fieldset class="item">
                                <div class="item-fields">
                                    <input class="w-p20" type="text" data-bind="value: name" placeholder="Product Name" />
                                    <input class="w-p10" type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                                    <input class="w-p15" type="text" data-bind="value: buyPrice" placeholder="Buy" />
                                    <input class="w-p15" type="text" data-bind="value: sellPrice" placeholder="Sell" />
                                    <input class="w-p15" type="text" readonly data-bind="value: profit" placeholder="Profit" />
                                    <a href="#" class="icon icon-search" data-bind="tap: $parent.getHistoricTrades"></a>
                                    <div class="item-actions">
                                        <a href="#" class="icon icon-remove" data-bind="tap: $parent.removeItem"></a>
                                    </div>
                                </div>
                                <div class="historicbox tmargin-10" style="display: none">
                                    <!-- ko if: $parent.hasHistoricTrades -->
                                    <table class="item-historicTrades">
                                        <thead>
                                            <tr>
                                                <th class="w-p20 taLeft">Client</th>
                                                <th class="w-p10 taLeft">Qua</th>
                                                <th class="w-p15 taLeft">Buy</th>
                                                <th class="w-p15 taLeft">Sell</th>
                                                <th class="w-p40 taRight">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{ name: 'historicTrades' , foreach: historicTrades }">
                                        </tbody>
                                    </table>
                                    <!-- /ko -->
                                    <!-- ko ifnot: $parent.hasHistoricTrades -->
                                    <p class="tmargin-10">we cannot get historic trades!</p>
                                    <!-- /ko -->
                                </div>
                            </fieldset>
                            <!-- /ko -->
                        </div>
                    </div>
                </section>
            </div>
            <script type="text/html" id="historicTrades">
                <tr>
                    <td class="taLeft">
                        <input type="hidden" data-bind="text: name"></input>
                        <span data-bind="text: client"></span>
                    </td>
                    <td class="taLeft">
                        <span data-bind="text: quantity"></span>
                    </td>
                    <td class="taLeft">
                        <span data-bind="text: buyPrice"></span>
                    </td>
                    <td class="taLeft">
                        <span data-bind="text: sellPrice"></span>
                    </td>
                    <td class="taRight">
                        <span data-bind="text: createDate"></span>
                    </td>
                </tr>
            </script>
        </section>
        <section class="swiper-slide" id="addresses">
            <div>
                <button class="icon icon-add" data-bind="tap: addAddress"> Add Address </button>
            </div>
            <div class="tmargin-10 alladdresses" data-bind="foreach: addresses">
                <section class="address">
                    <input type="hidden" data-bind="value: _id" />
                    <input type="text" class="w-p30" data-bind="value: client" placeholder="Client" />
                    <input type="text" class="w-p30" data-bind="value: recipient" placeholder="Recipient" />
                    <input type="text" class="w-p30" min="0" max="100" step="1" data-bind="value: phone" placeholder="Phone" />
                    <input type="text" class="address-inputaddress" min="0" max="100" step="1" data-bind="value: address" placeholder="Address" />
                    <a href="#" class="address-remove icon icon-remove" data-bind="tap: $root.removeAddress"> </a>
                    <a href="#" class="address-save icon icon-save" data-bind="css:{ 'font-red': isSend() },tap: $root.submitAddress"> </a>
                </section>
            </div>
        </section>
    </div>
</div>

<div class="prompt">
<span class="prompt-submitting"><i class="fa fa-spinner fa-pulse"></i> Submit...</span>
<span class="prompt-succeed disappeared icon icon-peace font-green"> Succeed!</span>
</div>
<script>
var orders = <%- JSON.stringify(orders) %>
</script>
<script data-main="/js/main" src="/js/require.js"></script>
