<table class="orderitems">
    <tr>
        <th class="w-p30 taLeft">Name</th>
        <th class="w-p10 taLeft">Q</th>
        <th class="w-p60 taRight rpadding-5"> Done?</th>
    </tr>
    <!-- ko foreach: items -->
    <tr class="orderitem">
        <td class="taLeft">
            <span data-bind="text: _id"></span>
        </td>
        <td class="taLeft">
            <span data-bind="text: quantity"></span>
        </td>
        <td class="taRight">
            <a href="#" class="icon icon-search  rmargin-20" data-bind="click: $root.getSubItems"></a>
            <a href="#" class="icon icon-circle rmargin-5" data-bind="click: $root.markDone, css: markItemStatus() "></a>
        </td>
    </tr>
    <tr class="orderitem-subItems">
        <td colspan="3">
            <!-- ko if: hasItemDetail() -->
            <table class="subItems">
                <thead>
                    <tr>
                        <th class="w-p30 taLeft">Client</th>
                        <th class="w-p10 taLeft">Q</th>
                        <th class="w-p40 taLeft">Note</th>
                        <th class="w-p20 taRight rpadding-5">Date</th>

                    </tr>
                </thead>
                <tbody data-bind="template:{ name: 'subItem', foreach: subItems }">
                </tbody>
            </table>
            <!-- /ko -->
            <!-- ko ifnot: hasItemDetail() -->
            <span>Somehow we cannot get item detail for now!</span>
            <!-- /ko -->
        </td>
    </tr>
    <!-- /ko -->
</table>
<script type="text/html" id="subItem">
    <tr>
        <td data-bind="text: client">  <input type="hidden" data-bind="value: _id" /></td>
        <td data-bind="text: quantity"></td>
        <td class="taLeft" data-bind="text: note"></td>
        <td class="taRight rpadding-5" data-bind="text: createDate"></td>


    </tr>
</script>
<script>
// ko foreach: purchaseDetail
// <span data-bind="name: $root.getSubName($data), text: quantity"></span>

var Item = function(item) {
    var self = this;
    self._id = ko.observable(item ? item._id : '');
    self.quantity = ko.observable(item ? item.quantity : '');
    self.purchaseDetail = ko.observableArray(item ? item.purchaseDetail : []);

    self.subItems = ko.observableArray([]);

    self.hasItemDetail = function(subItem) {

        return self.subItems().length > 0 ? true : false;

    };

    self.displaySubItems = ko.computed(function() {

        return self.subItems().length > 0;

    });

    self.markDone = function() {

    }

    self.markItemStatus = function() {

        var purchaseDetail = self.purchaseDetail();

        var isDone = 0,
            notDone = 0;

        purchaseDetail.forEach(function(item) {
            if (item.isDone) {
                isDone = item.quantity;

            } else {
                notDone = item.quantity;

            }

        })

        if (notDone == self.quantity()) {
            return '';
        } else if (notDone == 0) {
            return 'font-red';
        } else {
            return "font-yellow";
        }



    }

    self.markSubItemStatus = function(item) {

        if (item.isDone) {
            return 'font-red';

        } else {
            return "";
        }


    }

    self.isSubItemsOpen = false;

};

var ItemsModel = function(items) {

    var observableItems = [];

    items.forEach(function(item) {

        observableItems.push(new Item(item));

    })



    var self = this;

    self.items = ko.observableArray(observableItems);

    self.getSubName = function(item) {

        return 'item' + item.isDone;

    };

    self.getSubItems = function(item, event) {

        var itemData = ko.mapping.toJS(item);

        if (!item.isSubItemsOpen) {
            $.getJSON('/subitems/' + itemData._id, function(res, status) {

                if (status == 'success') {
                    item.subItems(res);

                } else {
                    item.subItems([]);
                }

                $(event.target).parents('tr').next().show(function() {
                    item.isSubItemsOpen = true;
                });

            });

        } else {

            $(event.target).parents('tr').next().hide(function() {
                item.isSubItemsOpen = false;
            });


        }



    };

    self.markDone = function(item) {

        var itemData = ko.mapping.toJS(item);

        var isPurchased = true;


        itemData.purchaseDetail.forEach(function(item) {

            if (!item.isDone) {
                isPurchased = false;
            }

        });

        $.post('/item/' + itemData._id, {
                isDone: !isPurchased
            }, function(res, status) {

                item.purchaseDetail(res.purchaseDetail);
            },
            'json'
        );

    };

}

var items = <%- JSON.stringify(items) %>;

var itemsModel = new ItemsModel(items);


//ko.mapping.fromJS(items, {}, itemsModel);

ko.applyBindings(itemsModel);
</script>
