<div>
    <span>
            Product Name
        </span>
    <span>
            Quantity
        </span>
</div>
<div data-bind="foreach: items">
    <section>
        <span data-bind="text: _id"></span>
        <span data-bind="text: quantity"></span>

       <!-- ko foreach: purchaseDetail
        <span data-bind="name: $root.getSubName($data), text: quantity"></span>
         -->


        <a href="#"  class="icon icon-circle rmargin-20" data-bind="click: $root.markDone, css: markItemStatus "></a>
        <a href="#" class="icon icon-search" data-bind="click: $root.getSubItems"></a>


        <div class="subItem" style="display: none">
            <!-- ko if: $parent.hasItemDetail -->

            <table>

            tr>th

                <!-- ko  data-bind="template:{ name: 'subItem', foreach: subItems }" -->


                <!-- /ko -->

            </table>


            <!-- /ko -->
            <!-- ko ifnot: $parent.hasItemDetail -->
            <p>Somehow we cannot get item detail for now!</p>
            <!-- /ko -->
        </div>
    </section>
</div>
<script type="text/html" id="subItem">
    <tr>
        <td data-bind="text: client"> </td>
        <td data-bind="text: quantity"></td>
        <td data-bind="text: note"></td>
        <td data-bind="text: createDate"></td>
        <td><input type="hidden" data-bind="value: _id"/><a href="#" data-bind="css: $parent.markSubItemStatus; click: $parent.markDone">MarkDone</a></td>
    </tr>
</script>

<script>
var Item = function(item) {
    var self = this;
    self._id = ko.observable(item ? item._id : '');
    self.quantity = ko.observable(item ? item.quantity : '');
    self.purchaseDetail = ko.observableArray(item ? item.purchaseDetail : []);

    self.subItems = ko.observableArray([]);

    self.hasItemDetail = function(subItem) {

        return self.subItems().length > 0 ? true : false;

    };

    self.displaySubItems = ko.computed(function() {

        return self.subItems().length > 0;

    });

    self.markDone = function() {

    }

    self.markItemStatus=function(){

    }

    self.markSubItemStatus= function(){

    }

    self.isSubItemsOpen = false;

};

var ItemsModel = function(items) {

    var observableItems = [];

    items.forEach(function(item) {

        observableItems.push(new Item(item));

    })



    var self = this;

    self.items = ko.observableArray(observableItems);

    self.getSubName = function(item) {

        return 'item' + item.isDone;

    };

    self.getSubItems = function(item, event) {

        var itemData = ko.mapping.toJS(item);

        if (!item.isSubItemsOpen) {
            $.getJSON('/subitems/' + itemData._id, function(res, status) {

                if (status == 'success') {
                    item.subItems(res);

                } else {
                    item.subItems([]);
                }

                $(event.target).next('.subItem').slideDown('fast', function() {
                    item.isSubItemsOpen = true;
                });

            });

        } else {

            $(event.target).next('.subItem').slideUp('fast', function() {
                item.isSubItemsOpen = false;
            });


        }



    };

    self.markDone = function(item) {

        var itemData = ko.mapping.toJS(item);

        var isPurchased = true;


        itemData.purchaseDetail.forEach(function(item) {

            if (!item.isDone) {
                isPurchased = false;
            }

        });

        $.post('/item/' + itemData._id, {
                isDone: !isPurchased
            }, function(res, status) {

                item.purchaseDetail(res.purchaseDetail);
            },
            'json'
        );

    };

}

var items = <%- JSON.stringify(items) %>;

var itemsModel = new ItemsModel(items);


//ko.mapping.fromJS(items, {}, itemsModel);

ko.applyBindings(itemsModel);




</script>
