<form action="/login" method="post" class="form-login">
    <div class="taCenter">
        <span>
        <input class='input-line w-p30' type="text"  name="username" value="" placeholder="Name" />
    </span>
        <span>
        <input class='input-line w-p30' type="password" name="password" value="" placeholder="Password" />
    </span>
        <span>
    <button type="submit" class="icon icon-signin"></button>
    </span>
    </div>
    <div class="taCenter">
        <div class="box-mynote taLeft tmargin-10">
            <p>我是薇爸, 我的生活就是：</p>
            <code><pre>
for (var i = 0; i < Infinity; i++) {
    //TODO:采购;
    背货;
    打单;
    分货;
    拍照;
    打包;
    发货;
    带娃;
}
</pre>
</code>
        </div>
    </div>
</form>
