<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Order</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/knockout-3.4.0.js"></script>
</head>

<body>
    <article>

        <form name="orderForm" data-bind="submit:$root.save">
            <div>
                <input type="text" data-bind="value: _id" />
                <input type="text" data-bind="value: client" placeholder="Client Name" />
            </div>
            <section data-bind="foreach: items">
                <section>
                    <div>
                        <input type="text" data-bind="value: name" placeholder="Product Name" />
                    </div>
                    <div>
                        <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                    </div>
                    <div>
                        <input type="text" data-bind="value: note" placeholder="Note:" />
                    </div>
                    <div><a href="#" data-bind="click: $root.removeItem"> Delete</a></div>
                </section>
            </section>
            <button type="button" text="Add" data-bind="click:$root.addItem">Add </button>
            <button type="submit" text="Submit">Submit</button>
        </form>
    </article>
</body>

</html>
<script>
var OrderModel = function(order) {
    var self = this;

    self._id = ko.observable(order._id);
    self.client = ko.observable(order.client);
    self.items = ko.observableArray(order.items);

    self.addItem = function() {
        self.items.push({
            name: "",
            quantity: "",
            note: ''
        });
    };

    self.removeItem = function(item) {
        self.items.remove(item);
    };

    self.save = function(form) {

        var order = $.parseJSON(ko.toJSON(self));



        $.post('./orders', order, function(data, status) {

                viewModel._id(data._id);
                viewModel.client(data.client);
                viewModel.items(data.items);

            },
            'json'
        );


        return false;

    };
};

var viewModel = new OrderModel({
    _id:'',
    client: 'Yolanda',
    items: [{
        name: "Tall Hat",
        quantity: 39,
        note: ''
    }, {
        name: "Long Cloak",
        quantity: 10,
        note: 'require discount'
    }]
});
ko.applyBindings(viewModel);

// Activate jQuery Validation
$("form").submit(viewModel.save);
</script>
