
<form name="orderForm" data-bind="submit:$root.save">
    <div>
        <input type="text" data-bind="value: _id" />
        <input type="text" data-bind="value: client" placeholder="Client Name" />
    </div>
    <section data-bind="foreach: items">
        <section>
            <div>
                <input type="text" data-bind="value: name" placeholder="Product Name" />
            </div>
            <div>
                <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
            </div>
            <div>
                <input type="text" data-bind="value: note" placeholder="Note:" />
            </div>
            <div><a href="#" data-bind="click: $root.removeItem"> Delete</a></div>
        </section>
    </section>
    <button type="button" text="Add" data-bind="click:$root.addItem">Add </button>
    <button type="submit" text="Submit">Submit</button>
</form>

<script>
var OrderModel = function(order) {
    var self = this;

    self._id = ko.observable(order._id);
    self.client = ko.observable(order.client);
    self.items = ko.observableArray(order.items);

    self.addItem = function() {
        self.items.push({
            name: "",
            quantity: 1,
            note: ''
        });
    };

    self.removeItem = function(item) {
        self.items.remove(item);
    };

    self.save = function(form) {

        var order = $.parseJSON(ko.toJSON(self));

        console.log('post request....');

        $.post('/order', order, function(data, status) {

                console.log('get post result');

                viewModel._id(data._id);
                viewModel.client(data.client);
                viewModel.items(data.items);

            },
            'json'
        );

        return false;

    };
};

var order = <%- JSON.stringify(order) %>;

var viewModel = new OrderModel(order);
ko.applyBindings(viewModel);

</script>
