<div>
    <button type="button" text="Add" data-bind="click:$root.addOrder">Add Order </button>
</div>
<div data-bind="foreach: orders">
    <section>
        <div>
            <input type="text" data-bind="value: _id" />
            <input type="text" data-bind="value: client" placeholder="Client Name" />
        </div>
        <div>
            <!-- ko foreach: items -->
            <fieldset>
                <div>
                    <input type="text" data-bind="value: name" placeholder="Product Name" />
                </div>
                <div>
                    <input type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                </div>
                <div>
                    <input type="text" data-bind="value: note" placeholder="Note:" />
                </div>
                <div><a href="#" data-bind="click: $root.removeItem.bind(this, $parent, $data)"> Delete</a></div>
            </fieldset>
            <!-- /ko -->
            <button type="button" text="Add" data-bind="click:$root.addItem">Add </button>
        </div>
        <div>
            <button type="button" text="Add" data-bind="click:$root.submitOrder">Submit </button>
        </div>
    </section>
</div>
<script>
var OrderModel = function(order) {
    var self = this;
    self._id = ko.observable( order && order._id ? order._id: '');
    self.client = ko.observable(order && order.client ? order.client:'');
    self.items = ko.observableArray(order && Array.isArray(order.items) ? order.items : [{name:'',quantity:1, note:''}]);
    self.createDate= order && order.createDate ? order.createDate : new Date();
    self.status= order && order.status ? order.status : 'RECEIVED';  

};



var OrdersModel = function(orders) {

    var observableOrders = [];

    orders.forEach(function(order) {

        observableOrders.push(new OrderModel(order));

    })

    var self = this;

    self.orders = ko.observableArray(observableOrders);

    self.addItem = function(data) {

        data.items.push({
            name: "",
            quantity: 1,
            note: '',
            isDone: false
        });
    };

    self.removeItem = function(parent, data) {
        parent.items.remove(data);
    };

    self.submitOrder = function(order) {

        console.log('post request....');

        var orderData = ko.mapping.toJS(order); //$.parseJSON(ko.toJSON(order));

        $.post('/order', orderData, function(data, status) {

                console.log('get post result');
                ko.mapping.fromJS(data, {}, order);
            },
            'json'
        );

        return false;

    };

    self.addOrder = function(data) {

        var order = new OrderModel();

        self.orders.push(order);
    };
};

var ordersModel = new OrdersModel( <%- JSON.stringify(orders) %>);

ko.applyBindings(ordersModel);
</script>
