<div class="orderitems">
    <div class="orderitems-header">
        <span class="w-p30 taLeft">Year</span>
        <span class="w-p30 taLeft">Week</span>
        <span class="w-p30 taLeft">Cost</span>
        <span class="w-p10 taLeft">Income</span>
        <span class="w-p60 taRight rpadding-5"> Profit</span>
    </div>
    <!-- ko foreach: items -->
    <div class="orderitem">
        <div class="orderitem-cnt">
            <span class="taLeft w-p30" data-bind="text: _id"></span>
            <span class="taLeft w-p10" data-bind="text: quantity"></span>
            <span class="taRight w-p60 orderitem-cnt-btns">
                            <a href="#" class="icon icon-search  rmargin-20 action-load" data-bind="tap: $root.getSubItems"></a>
                            <a href="#" class="icon icon-flag rmargin-5 action-submit" data-bind="tap: $root.markDone, css: markItemStatus() "></a>
                        </span>
        </div>
        <div class="orderitem-subItems">
            <!-- ko if: hasItemDetail() -->
            <div class="subItems">
                <div class="subItems-header">
                    <span class="w-p30 taLeft">Client</span>
                    <span class="w-p10 taLeft">Q</span>
                    <span class="w-p30 taLeft">Note</span>
                    <span class="w-p30 taRight rpadding-5">Date</span>
                </div>
                <div class="subItems-cnt" data-bind="template:{ name: 'subItem', foreach: subItems }">
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: hasItemDetail() -->
            <span>Somehow we cannot get item detail for now!</span>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</div>
<script type="text/html" id="subItem">
    <section class="subItems-item">
        <input type="hidden" data-bind="value: _id" />
        <span class="w-p30" data-bind="text: client"> </span>
        <span class="w-p10" data-bind="text: quantity"> </span>
        <span class="w-p30 taLeft" data-bind="text: note"> </span>
        <span class="w-p30 taRight rpadding-5" data-bind="text: createDate"> </span>
    </section>
</script>
<script>
var Item = function(item) {
    var self = this;
    self._id = ko.observable(item ? item._id : '');
    self.quantity = ko.observable(item ? item.quantity : '');
    self.purchaseDetail = ko.observableArray(item ? item.purchaseDetail : []);

    self.subItems = ko.observableArray([]);

    self.hasItemDetail = function(subItem) {

        return self.subItems().length > 0 ? true : false;

    };

    self.displaySubItems = ko.computed(function() {

        return self.subItems().length > 0;

    });

    self.markDone = function() {

    }

    self.markItemStatus = function() {

        var purchaseDetail = self.purchaseDetail();

        var isDone = 0,
            notDone = 0;

        purchaseDetail.forEach(function(item) {
            if (item.isDone) {
                isDone = item.quantity;

            } else {
                notDone = item.quantity;

            }

        })

        if (notDone == self.quantity()) {
            return '';
        } else if (notDone == 0) {
            return 'font-green';
        } else {
            return "font-yellow";
        }



    }

    self.markSubItemStatus = function(item) {

        if (item.isDone) {
            return 'font-red';

        } else {
            return "";
        }


    }

    self.isSubItemsOpen = false;

};

var ItemsModel = function(items) {

    var observableItems = [];

    items.forEach(function(item) {

        observableItems.push(new Item(item));

    })



    var self = this;

    self.items = ko.observableArray(observableItems);

    self.getSubName = function(item) {

        return 'item' + item.isDone;

    };

    self.getSubItems = function(item, event) {

        var itemData = ko.mapping.toJS(item);

        if (!item.isSubItemsOpen) {
            $.getJSON('/subitems', {
                itemName: itemData._id
            }, function(res, status) {

                if (status == 'success') {
                    item.subItems(res);

                } else {
                    item.subItems([]);
                }

                $(event.target).parents('.orderitem-cnt').next().slideDown(function() {
                    item.isSubItemsOpen = true;
                });

            });

        } else {

            $(event.target).parents('.orderitem-cnt').next().slideUp(function() {
                item.isSubItemsOpen = false;
            });


        }



    };

    self.markDone = function(item) {

        var itemData = ko.mapping.toJS(item);

        var isPurchased = true;


        itemData.purchaseDetail.forEach(function(item) {

            if (!item.isDone) {
                isPurchased = false;
            }

        });

        $.post('/item', {
                itemName: itemData._id,
                isDone: !isPurchased
            }, function(res, status) {

                item.purchaseDetail(res.purchaseDetail);
            },
            'json'
        );

    };

}

var items = <%- JSON.stringify(items) %>;

var itemsModel = new ItemsModel(items);


//ko.mapping.fromJS(items, {}, itemsModel);

ko.applyBindings(itemsModel);
</script>
