<div>
    <span>
            Product Name
        </span>
    <span>
            Quantity
        </span>
</div>
<div data-bind="foreach: items">
    <section>
        <span data-bind="text: _id"></span>
        <span data-bind="text: quantity"></span>
        <span data-bind="text: quantityDone"></span>

        <button data-bind="click: $root.markDone"></button>
    </section>
</div>
<script>
var ItemsModel = function(items) {

    var self = this;

    self.markDone = function(item) {
        console.log('post request....');

        var itemData = ko.mapping.toJS(item);

        $.post('/order', itemData, function(data, status) {

                console.log('get post result');
                ko.mapping.fromJS(data, {}, item);
            },
            'json'
        );

        return false;
    }

};

var items = <%- JSON.stringify(items) %>;

var itemsModel = new ItemsModel();
ko.mapping.fromJS(items, {}, itemsModel);

ko.applyBindings(itemsModel);
</script>
