<div>
    <button type="button" text="Add" class="fl icon icon-add" data-bind="click:$root.addOrder">Add Order </button>
    <div class="lmargin-150">
        <input  type="text" class="w-p100 input-search"  data-bind="event: {input: $root.searchOrders}" placeholder="Search Your Orders" />
    </div>


</div>
<div class="tmargin-5" data-bind="foreach: orders">
    <section  class="order">
        <div class="order-head">
            <input type="hidden" data-bind="value: _id" />
            <input type="text" data-bind="value: client" placeholder="Client Name" />
            <div class="order-savebox">
                <a href="#" class="icon icon-remove-sign font-white rmargin-20" data-bind="click: $root.removeOrder"></a>
                <a href="#" class="icon icon-save-sign  font-white" data-bind="click: $root.submitOrder"> </a>
            </div>
        </div>
        <div class="order-itembox">
            <div class="tmargin-5">
                <button type="button" class="icon icon-add" text="Add" data-bind="click:$root.addItem"> Add Item </button>
            </div>
            <div class="items tmargin-5">
                <!-- ko foreach: items -->
                <fieldset class="item">
                    <input class="w-p30" type="text" data-bind="value: name" placeholder="Product Name" />
                    <input class="w-p10" type="number" min="0" max="100" step="1" data-bind="value: quantity" placeholder="Quantity" />
                    <input class="w-p40" type="text" data-bind="value: note" placeholder="Note:" />
                    <div class="item-actions">
                        <a href="#" class="icon icon-remove" data-bind="click: $root.removeItem.bind(this, $parent, $data)"></a>
                    </div>
                </fieldset>
                <!-- /ko -->
            </div>
        </div>
    </section>
</div>
<script>
var orders  = <%- JSON.stringify(orders) %>;
</script>
<script data-main="/js/main" src="/js/require.js"></script>
