
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-resource/angular-resource.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>
<script src="/components/registration/registration.module.js"></script>
<script src="/components/registration/registration.component.js"></script>



<div ng-app="registration">
<!--

<div ng-controller="registrationController">
    <input type="text" placeholder="Name used to login" ng-model="name">
    <input type="password" placeholder="Password" ng-model="password">
    <input type="password" placeholder="Password Confirmation" ng-model="passwordConfirmation">
    <button type="button" ng-click='saveUser()'>Submit</button>
</div>
-->
 <registration></registration>


</div>

