

<% if(name && name == 'mvvm'){ %>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/konckout/dist/knockout.js"></script>
    <script src="/components/knockout.mapping/build/knockout.mapping.js"></script>

<% }else if (name == 'index') {%>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/konckout/dist/knockout.js"></script>
    <script src="/components/knockout.mapping/build/knockout.mapping.js"></script>

    <!-- index:js -->
    <!-- endinject -->

<% }else if (name == 'settings') {%>


    <script>
    var USER_ID = '<%- _id %>';
    </script>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>
    <script src="/components/angular-animate/angular-animate.js"></script>
    <script src="/js/settings/settings.module.js"></script>
    <script src="/js/settings/settings.component.js"></script>

    <!-- settings:js -->
    <!-- endinject -->

<% } %>