<% if(name && name == 'receivedOrders'){ %>
    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/components/knockout/dist/knockout.js"></script>
    <!-- receivedOrders:js -->
    <!-- endinject -->
<% }else if (name == 'common') {%>
    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/components/knockout/dist/knockout.js"></script>
    <!-- common:js -->
    <!-- endinject -->
<% }else if (name == 'index') {%>

    <script>
        var USER_ID = '<%- _id %>';
    </script>

    <script src="/components/requirejs/require.js"></script>
    <!-- index:js -->
    <!-- endinject -->
    <script>
    require(['js/main']);
    </script>


<% }else if (name == 'reckoning-orders') {%>
     <script src="/components/requirejs/require.js"></script>
    <!--data-main="/js/main" -->
    <!-- reckoning-orders:js -->
    <!-- endinject -->
    <script>
    require(['js/main-reckoning']);
    </script>
<% }else if (name == 'settings') {%>
    <script>
    var USER_ID = '<%- _id %>';
    </script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>
    <script src="/components/angular-animate/angular-animate.js"></script>

    <script src="/js/settings/settings.module.js"></script>
    <script src="/js/settings/settings.component.js"></script>

    <!-- settings:js -->
    <!-- endinject -->
<% }else if (name == 'registration') {%>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>
    <script src="/components/angular-animate/angular-animate.js"></script>

    <script src="/js/registration/registration.module.js"></script>
    <script src="/js/registration/registration.component.js"></script>
    <!-- registration:js -->
    <!-- endinject -->

<% } %>
