
<div class="settings blank" ng-show="!$ctrl.saved">
    <h3 class="heading-16" >New User?</h3>
    <label  class="tmargin-10">Exchange Rate</label>
    <input id="rate" type="text"  ng-model="$ctrl.rate" >
    <my-validation target-id="rate" target-type="float" target-value="{{ $ctrl.rate }}">Require float value {{ $ctrl.rate }}</my-validation>

    <label>Intelligent Computing </label> <label for="buy">Buy </label><input type="checkbox" name="buy"/> <label for="buy">Sell </label> <input type="checkbox" />

    <input type="password" placeholder="Password" ng-model="$ctrl.password">

    <input type="password" placeholder="Password Confirmation" ng-model="$ctrl.passwordConfirmation" >

    <button class="ispure"  ng-click="$ctrl.saveUser()">Submit</button>
</div>
<div class="success" ng-show="$ctrl.saved">Submit Successfully!</div>
