<div class="settings blank" ng-show="!$ctrl.saved">
    <h3 class="heading-16">Settings</h3>
    <span class="field tmargin-10">
    <label>Exchange Rate: </label>
    <input id="rate" type="text"  ng-model="$ctrl.rate" >
    <my-validation target-id="rate" target-type="float" target-value="{{ $ctrl.rate }}">Require float value {{ $ctrl.rate }}</my-validation>
    </span>
    <div class="tmargin-10">
        <span class="w-150 taRight rmargin-15 inline-block">Intelligent Computing </span> <span>Buy </span><input type="checkbox" name="buy"/> <span for="buy">Sell </span> <input type="checkbox" />
    </div>
    <span class="field tmargin-10">
    <label >Password: </label>
    <input type="password"  ng-model="$ctrl.password">
    </span>
    <span class=" field tmargin-10">
            <label  class="tmargin-10">Password Confirmation: </label>
    <input type="password"  ng-model="$ctrl.passwordConfirmation" >
    </span>
    <button class="ispure" ng-click="$ctrl.saveUser()">Submit</button>
</div>
<div class="success" ng-show="$ctrl.saved">Submit Successfully!</div>
