<% if(name && name == 'receivedOrders'){ %>
    <!-- receivedOrders:js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/knockout/dist/knockout.js"></script>
    <script src="js/common.min.js"></script>
    <script src="js/receivedOrders.js"></script>
    <!-- endinject -->
<% }else if (name == 'common') {%>
    <!-- common:js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/knockout/dist/knockout.js"></script>
    <script src="js/common.min.js"></script>
    <!-- endinject -->
<% }else if (name == 'index') {%>

    <script>
        var USER_ID = '<%- _id %>';
    </script>

    <!-- index:js -->
    <script src="components/requirejs/require.min.js"></script>
    <!-- endinject -->
    <script>
    require(['js/main']);
    </script>


<% }else if (name == 'reckoning-orders') {%>
    <!-- reckoning-orders:js -->
    <script src="components/requirejs/require.min.js"></script>
    <!-- endinject -->
    <script>
    require(['js/main-reckoning']);
    </script>

<% }else if (name == 'settings') {%>

    <script>
    var USER_ID = '<%- _id %>';
    </script>


    <!-- settings:js -->
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="js/settings/settings.min.js"></script>
    <!-- endinject -->

<% }else if (name == 'registration') {%>

    <!-- registration:js -->
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="js/registration/registration.min.js"></script>
    <!-- endinject -->

<% } %>
